<!-- =========================================================
  Page Settings
========================================================== --> 

<!-- Add an intro paragraph (that sets up the page) 
     between the single quotes below 
     ie: 'Get in touch with us...' -->

     {% assign intro_paragraph = '' %}


<!-- Edit the settings below to add additional ways 
     for your customers to contact you -->
     

<!-- To add a Twitter link, add your Twitter URL 
     between the single quotes below 
     ie: 'http://twitter.com/mytwitterurl' -->     
     
     {% assign twitter_link = '' %}

<!-- To add a Facebook link add your facebook URL 
     between the single quotes below 
     ie: 'http://facebook.com/myfacebookurl' -->  

     {% assign facebook_link = '' %}

<!-- To add an email link add your email address 
     between the single quotes below 
     ie: 'myemail@gmail.com,' --> 
     
     {% assign email_link = '' %}


<!-- =========================================================
  End Page Settings
========================================================== --> 

<header class="product_header page_header">
  <h2>Contact</h2>
  <span class="dash"></span>            
</header>
<section id="page_body">
  {% if contact.sent %}
  <p id="thank_you">Your message has been sent and we will try to respond within 24 business hours.</p>      
  {% else %}      
  
  {% if intro_paragraph != blank %}
  <p>{{ intro_paragraph }}</p>   
  {% endif %}   
  
  {% if twitter_link != blank or facebook_link != blank or email_link != blank %}
  <ul id="contact_links" class="{% if intro_paragraph == blank %}no_intro{% endif %}">
    {% if twitter_link != blank %}
      <li><a href="{{ twitter_link }}" title="Follow us on Twitter">Twitter</a></li>
    {% endif %}
    {% if facebook_link != blank %}
      <li><a href="{{ facebook_link }}" title="Friend us on Facebook">Facebook</a></li>
    {% endif %}
    {% if email_link != blank %}
      <li><a href="mailto:{{ email_link }}" title="Email us">Email</a></li>
    {% endif %}
  </ul>
  {% endif %}
  
  <form id="contact_form" method="post" action="/contact">
    <ul>
      <li>
        <label>Your name</label>
        {{ contact | contact_input: 'name' }}
      </li>
      <li>
        <label>Your email</label>
        {{ contact | contact_input: 'email' }}                 
      </li>
      <li>
        <label>Subject</label>
        {{ contact | contact_input: 'subject' }}
      </li>
      <li>
        <label>Message</label>
        {{ contact | contact_input: 'message' }}
      </li>
      <li id="captcha_img">
        <label>Are you human? Enter the characters from the image</label>
        <div id="captcha_phrase">{{ contact.captcha }}</div>                
        {{ contact | contact_input: 'captcha' }}       
      </li>
    </ul>
    <button id="contact_button" type="submit" name="submit" class="button">Send Message</button>            
  </form>
  {% endif %}
</section>