{% paginate products from products.current by theme.products_per_page %}

<aside class="category_nav {% if artists.active != blank && categories.active != blank %}double{% endif %}">
  <nav class="categories">
    <h3>Products</h3>
    <ul>
      <li class="{% if page.full_url contains '/products' %}selected{% endif %}"><a href="/products">All</a></li>    
      {% for category in categories.active %}
      <li class="page {% if page.full_url contains category.url %}selected{% endif %}">{{ category | link_to }}</li>
      {% endfor %}
    </ul>
  </nav>     
  {% if artists.active != blank %}
  <nav class="artists">
    <h3>Artists</h3>
    <ul>
      {% for artist in artists.active %}
      <li class="page {% if page.full_url contains artist.url %}selected{% endif %}">{{ artist | link_to }}</li>
      {% endfor %}
    </ul>
  </nav>       
  {% endif %} 
</aside>  

{% if products != blank %}


{% for product in products %}
  {% if forloop.first %}
    <ul id="products" class="{% if forloop.length == 1 %}single_product{% endif %}{% if forloop.length == 2 %}double_product{% endif %}">
  {% endif %}
  <li id="product_{{ product.id }}" class="product">
    <a href="{{ product.url }}" title="View {{ product.name | escape }}">
      <div class="product_header">
        <h2>{{ product.name }}</h2>
        <span class="dash"></span>            
        <h3>{{ product.default_price | money_with_sign }}</h3>
        {% case product.status %}
        {% when 'active' %}
          {% if product.on_sale %}<h5>On Sale</h5>{% endif %}
        {% when 'sold-out' %}
      		<h5>Sold Out</h5>
        {% when 'coming-soon' %}
      		<h5>Coming Soon</h5>
        {% endcase %}
      </div>
      <div class="product_thumb">
        <img src="{{ product.image | product_image_url size:"large" }}" class="fade_in" alt="Image of {{ product.name | escape }}">
      </div>
    </a>
  </li>
  {% if forloop.last %}
    </ul>
  {% endif %}
{% endfor %}

{% if paginate.previous.is_link or paginate.next.is_link %}
{{ paginate | default_pagination }}
{% endif %}

<aside class="category_nav {% if artists.active != blank && categories.active != blank %}double{% endif %}">
  <nav class="categories">
    <h3>Products</h3>
    <ul>
      <li class="{% if page.full_url contains '/products' %}selected{% endif %}"><a href="/products">All</a></li>    
      {% for category in categories.active %}
      <li class="page {% if page.full_url contains category.url %}selected{% endif %}">{{ category | link_to }}</li>
      {% endfor %}
    </ul>
  </nav>     
  {% if artists.active != blank %}
  <nav class="artists">
    <h3>Artists</h3>
    <ul>
      {% for artist in artists.active %}
      <li class="page {% if page.full_url contains artist.url %}selected{% endif %}">{{ artist | link_to }}</li>
      {% endfor %}
    </ul>
  </nav>       
  {% endif %} 
</aside>

{% else %}
<p class="alert-noproducts">No products found.</p>
{% endif %}

{% endpaginate %}
