/* --------------------------------------------------------------
  Cart
-------------------------------------------------------------- */

#cart_page #site_footer footer {
  margin-top: 0;
  }

#cart-form {
  padding: 0 15px;
  }

#cart-form.no_options {
  overflow: hidden;
  margin-bottom: 80px;
  }

#cart_description {
  float: left;
  width: 580px;
}

#cart_items {
  float: left;
  width: 580px;
  margin: 0;
  border-bottom: 1px solid #e5e5e5;
  }

#cart_items ul {
  margin-bottom: 0;
  }

#cart_items li {
  position: relative;
  overflow: hidden;
  padding: 0 0 0 0;
  margin: 0;
  line-height: 0;
  border-top: 1px solid #e5e5e5;
  }

#cart_items .item_image {
  float: left;
  margin: 20px 40px 20px 100px;
  text-align: center;
  width: 90px;
  height: 60px;
  /* vertically center image within */
  display:-webkit-box;
  -webkit-box-pack:center;
  -webkit-box-align:center;
  display:-moz-box;
  -moz-box-pack:center;
  -moz-box-align:center;
  display:box;
  box-pack:center;
  box-align:center;
  }

#cart_items .item_image img {
  max-height: 60px;
  max-width: 90px;
  -webkit-box-flex:1;
  -moz-box-flex:1;
  box-flex:1;
  margin: 0 auto;
  }

#cart_items li dl {
  margin: 0;
  line-height: 0;
  margin: 31px 0 0;
  }

#cart_items li.with_option dl {
  margin-top: 21px;
  }

#cart_items li dt,
#cart_items li dd {
  line-height: 1.3em;
  font-size: 16px;
  }

#cart_items li dt a {
  border: none;
  }

#cart_items li dt {
  margin: 0 0 3px 0;
  }

#cart_items li .item_price {
  font-size: 14px;
  }

#cart_items li .item_option {
  margin-top: 3px;
  font-size: 13px;
  font-style: italic;
  }

#cart_items li .item_quantity  {
  position: relative;
  top: -1px;
  left: 2px;
  font-size: 13px;
  }

#cart_items li .remove_item {
  opacity: .5;
  filter: alpha(opacity=50); /* IE6-IE8 */
  position: absolute;
  z-index: 5;
  left: 33px;
  top: 50%;
  margin-top: -12px;
  width: 26px;
  height: 26px;
  text-indent: -9999px;
  border: none;
  -webkit-transition: opacity .6s ease-in;
  -moz-transition: opacity .6s ease-in;
  -ms-transition: opacity .6s ease-in;
  -o-transition: opacity .6s ease-in;
  transition: opacity .6s ease-in;
  background: url({{ 'remove_item.png' | theme_image_url }}) no-repeat;
  }

#cart_items li .remove_item:hover {
  opacity: 1;
  -webkit-transition: opacity 0 ease-in;
  -moz-transition: opacity 0 ease-in;
  -ms-transition: opacity 0 ease-in;
  -o-transition: opacity 0 ease-in;
  transition: opacity 0 ease-in;
  }

#cart_options {
  float: left;
  width: 580px;
  padding-bottom: 10px;
  margin: 20px 0 0 0;
  border-bottom: 1px solid #e5e5e5;
  }

#cart_options li {
  margin-bottom: 10px;
  }

#cart_options h3 {
  }

#cart_options label {
  margin-left: 27px;
  }

#cart_options select {
  margin-top: 11px;
  width: 215px;
  }

#cart_options .no_shipping {
  display: block;
  margin-left: 227px;
  font-size: 13px;
  margin-top: 5px;
  color: red;
  }

#cart_options #cart_discount p {
  font-size: 12px;
  padding: 13px 0;
  }

.cart-update {
  margin-left: 227px;
  margin-bottom: 20px;
  }

.cart-update .button {
  font-size: 12px;
  padding: 12px 0;
  width: 213px;
  }

#cart_summary {
  float: right;
  width: 250px;
  padding-top: 10px;
  background: {{ theme.background_secondary }};
  }

#cart_summary ul {
  padding: 0 13px;
  }

#cart_summary li {
  overflow: hidden;
  padding: 12px 0 4px;
  border-bottom: 1px solid #dddddd;
  }

#cart_summary li h3 {
  float: left;
  font-size: 13px;
  }

#cart_summary li span {
  float: right;
  font-size: 13px;
  line-height: 20px;
  }

#cart_summary li span span {
  float: none;
  }

#cart_summary li#cart-shipping-tax.not_set span {
  font-size: 11px;
  }

#cart_summary #cart_total {
  padding-top: 20px;
  border: none;
  }

#cart_summary #cart_total h3 {
  font-style: italic;
  line-height: 26px;
  }

#cart_summary #cart_total h2 {
  float: right;
  font-size: 20px;
  }

#cart_summary #cart_total span {
  float: none;
  position: relative;
  top: -6px;
  font-size: 11px;
  }

#cart_summary button {
  width: 230px;
  margin: 0 0 10px 10px;
  }

#cart_page #cart_empty {
  padding-bottom: 60px;
  border-bottom: 1px solid #E5E5E5;
  margin-bottom: -50px;
  }

#cart_page #cart_empty p {
  margin-top: 15px;
  font-size: 20px;
  font-style: italic;
  text-align: center;
  }

