/* -------------------------------------------------------------- 
  Contact
-------------------------------------------------------------- */   

#contact_page #page_body p:first-child {
  padding-bottom: 40px;
  }
  
#contact_page #page_body p#thank_you {
  padding-bottom: 0 !important;
  border: none !important;
  text-align: center;
  }    

#contact_links {
  padding-bottom: 15px;
  margin-top: -10px;
  text-align: center;
  }

#contact_links.no_intro {
  margin-top: 40px;
  padding-top: 14px;
  }

#contact_links li {
  display: inline-block;
  font-size: 13px;
  }   
  
#contact_links li:after {
  content:"/";
  padding: 0 0 0 4px;
  }
  
#contact_links li:last-child:after {
  content:"";
  }    

#contact_links li a {
  border: none;
  }  
  
#contact_form {
  width: 100%;
  }

#contact_form ul {
  margin-bottom: 40px;
  }

#contact_form li {
  padding: 4px 0;
  }

#contact_form label {
  width: 100%;
  float: none;
  margin-bottom: 5px;
  text-align: left;
  }

#contact_form input,
#contact_form textarea {
  width: 510px;
  margin: 0;  
  } 
  
#contact_form textarea {
  height: 180px;
  }   

#captcha_img {
  overflow: hidden;
  }

#captcha_img #captcha_phrase {
  float: right;
  } 
  
#captcha_img input {
  float: left;
  width: 365px;
  padding: 17px 8px;
  margin-right: 20px;
  }  
  
#captcha_img img {
  -webkit-box-shadow: 1px 1px 1px #ccc;
  box-shadow: 1px 1px 1px #ccc;
  border-radius: 4px;
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
  }
  
#contact_page #contact_button {
  clear: both;
  }