\:root
  --pagination-background: transparent
  --pagination-page-background: var(--secondary-text-color)
  --pagination-active-page: var(--primary-text-color)

#main
  .featured-container
    @media screen and (max-width: $break-small)
      margin-top: 30px

  .featured-message
    text-align: center
    margin: 20px auto 60px auto
    padding: 0 1.5rem

    ol, ul
      text-align: left
      margin: 1em auto
      max-width: 600px
      padding-left: 2.5em

      ol, ul
        margin: 0.5em 0
        padding-left: 1.5em

    ul
      list-style: disc

    ol
      list-style: decimal

    a
      text-decoration: underline
      text-underline-offset: 3px

    img
      display: inline-block
      max-width: 100%
      margin: 0 auto
      padding-bottom: 16px
    
    iframe
      display: block
      margin: 0 auto
      max-width: 100%
      margin-bottom: 16px
  
.home-slideshow
  margin-bottom: 64px

  .splide__list
    width: 100%

  .slideshow-image
    border-radius: var(--border-radius)
    width: 100%

  .splide__arrow
    border-radius: var(--border-radius)
    width: 2em
    height: 4em

  .splide__slide
    width: 100%

  .splide__pagination
    z-index: 1
    background: var(--pagination-background)
    border-radius: 18px
    display: inline-flex
    position: absolute
    height: 24px
    margin-top: 8px
    bottom: auto
    align-items: center
    justify-content: center
    transform: translateX(-50%)
    left: 50%
    padding: 4px 8px
    gap: 2px
    right: auto

    li
      display: flex

    .splide__pagination__page
      opacity: 1
      background: var(--pagination-page-background)
      height: 10px
      width: 10px

      &.is-active
        background: var(--pagination-active-page)
        transform: scale(1.1)

a.all-products-button
  max-width: 300px
  margin: 48px auto 0
  background: none
  border: 2px solid var(--primary-text-color)
  color: var(--primary-text-color)
  display: flex
  align-items: center
  justify-content: center

  &:hover, &:focus
    background: none
    border: 2px solid var(--link-rollover-color)
    color: var(--button-text-color)

// Video player theme-specific override
.video-embed-container
  margin-top: var(--video-margin-small)
