/*============================================================
  IE Hacks
============================================================*/

.ie #social_links li h4 {
  display: none;
  }

.ie #social_links .social_action {
  display: block;
  }

.ie #cart_items li .quantity_input input {
  line-height: 1em;
  height: auto;
  padding: 12px 8px 8px;
  }  
  
 