/*============================================================
  IE Hacks
============================================================*/

.ie #social_links li h4 {
  display: none;
  }

.ie #social_links .social_action {
  display: block;
  }

.ie #social_links #social_facebook,
.ie #social_links #social_tweet,  
.ie #social_links #social_pinterest {
  padding-bottom: 6px;
  } 
  
.ie #cart_items li .quantity_input input {
  line-height: 1em;
  height: auto;
  padding: 12px 8px 8px;
  }  
  
 