 /* --------------------------------------------------------------

   Luna
   by Singlenaut

   http://singlenaut.com
   office@singlenaut.com

-------------------------------------------------------------- */

/* --------------------------------------------------------------
  Base styles
-------------------------------------------------------------- */

html, body {
  min-width: 260px;
  width: 100%;
  height: 100%;
  }

body {
  font-weight: normal;
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  background: #fff;
  }

::-moz-selection{ background: yellow; color:#333; }
::selection { background: yellow; color:#333; }

p, blockquote, ul, ol, dl {
  font-size: 15px;
  margin-bottom: 1.2em;
  line-height: 1.3em;
  }

strong, b { font-weight: bold; }
em, i { font-style: italic; }

a,
a:link,
a:visited {
  position: relative;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
  border-bottom-color: rgba(0,0,0,.2);
  -webkit-transition: color .6s ease-in;
  -moz-transition: color .6s ease-in;
  -ms-transition: color .6s ease-in;
  -o-transition: color .6s ease-in;
  transition: color .6s ease-in;
  }

a:hover,
a:active {
  -webkit-transition: color 0 ease-in;
  -moz-transition: color 0 ease-in;
  -ms-transition: color 0 ease-in;
  -o-transition: color 0 ease-in;
  transition: color 0 ease-in;
  }

a img {
  display: block;
  text-decoration: none;
  border: none;
  }

img {
  border: none;
  -ms-interpolation-mode: bicubic;
  }

img,
embed,
object,
video {
  max-width: 100%;
  }


/* --------------------------------------------------------------
  Elements / Shared
-------------------------------------------------------------- */

.button {
  padding: 15px 0;
  width: 220px;
  cursor: pointer;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #000;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-transition: all .6s ease-in;
  -moz-transition: all .6s ease-in;
  -ms-transition: all .6s ease-in;
  -o-transition: all .6s ease-in;
  transition: all .6s ease-in;
  }

.button:hover, .button:active {
  -webkit-transition: all 0 ease-in;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-transition: all 0 ease-in;
  -ms-transition: all 0 ease-in;
  -o-transition: all 0 ease-in;
  transition: all 0 ease-in;
  }

.button.disabled,
.button.disabled:hover {
  text-align: center;
  cursor: default;
  opacity: .4;
  }

input,
textarea {
  padding: 10px 8px;
  width: 194px;
  border: none;
  border: 2px solid transparent;
  background: #ebebeb;
  outline: none;
  -webkit-box-shadow: inset 1px 1px 3px rgba(0,0,0,.2);
  box-shadow: inset 1px 1px 3px rgba(0,0,0,.2);
  }

input:focus,
textarea:focus {
  border: 2px solid #333;
  background: #ffffff;
  -webkit-box-shadow: inset 1px 1px 3px rgba(0,0,0,.2);
  box-shadow: inset 1px 1px 3px rgba(0,0,0,.2);
  outline: none;
  }

label {
  display: block;
  float: left;
  width: 170px;
  padding-right: 30px;
  margin-top: 10px;
  text-align: right;
  font-size: 13px;
  }

@-webkit-keyframes reset { from { opacity: 0; } to { opacity: 0; } }
@-webkit-keyframes fade-in { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes reset { from { opacity: 0; } to { opacity: 0; } }
@-moz-keyframes fade-in { from { opacity:0; } to { opacity:1; } }
@-o-keyframes reset { from { opacity: 0; } to { opacity: 0; } }
@-o-keyframes fade-in { from { opacity:0; } to { opacity:1; } }
@-ms-keyframes reset { from { opacity: 0; } to { opacity: 0; } }
@-ms-keyframes fade-in { from { opacity:0; } to { opacity:1; } }
@keyframes reset { from { opacity: 0; } to { opacity: 0; } }
@keyframes fade-in { from { opacity:0; } to { opacity:1; } }

.fade_in{
  -webkit-animation-name: reset, fade-in;
  -webkit-animation-duration: .7s;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-iteration-count: 1;
  -moz-animation-name: reset, fade-in;
  -moz-animation-duration: .7s;
  -moz-animation-timing-function: ease-in;
  -moz-animation-iteration-count: 1;
  -o-animation-name: reset, fade-in;
  -o-animation-duration: .7s;
  -o-animation-timing-function: ease-in;
  -o-animation-iteration-count: 1;
  -ms-animation-name: reset, fade-in;
  -ms-animation-duration: .7s;
  -ms-animation-timing-function: ease-in;
  -ms-animation-iteration-count: 1;
  animation-name: reset, fade-in;
  animation-duration: .7s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
  }

#error {
  margin-top: -30px;
  margin-bottom: 40px;
  }

#error li {
  opacity: .5;
  filter: alpha(opacity=50); /* IE6-IE8 */
  width: 690px;
  margin: 0 auto;
  padding: 6px 0 3px;
  font-size: 12px;
  text-align: center;
  margin-bottom: 2px;
  border-radius: 4px;
  background: #4ff2d9;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0, .4);
  box-shadow: 0 1px 2px rgba(0,0,0, .4);
  font-weight: normal;
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
  }

/* Big Cartel Badge
------------------------------------------------------------*/

#badge {
  width: 100%;
  margin-top: 20px;
  }

#website + #badge {
  margin-top: 35px;
  }

#badge a {
  display: block;
  margin: 0 auto;
  width: 79px;
  height: 23px;
  border: none;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background: url("{{ 'bc_badge.png' | theme_image_url }}") no-repeat;
  }


/* --------------------------------------------------------------
  Structure
-------------------------------------------------------------- */

.strip {
  overflow: hidden;
  background: transparent;
  }

.canvas {
  position: relative;
  width: 900px;
  margin: 0 auto;
  clear: both;
  }

#content {
  padding: 70px 0;
  }

#page_body {
  width: 530px;
  margin: 0 auto;
  }


/* --------------------------------------------------------------
  Site Header
-------------------------------------------------------------- */

#site_header header {
  margin: 0;
  }

#site_header header #store_name {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  margin: 60px auto 64px;
  font-size: 42px;
  text-transform: uppercase;
  letter-spacing: 6px;
  text-align: center;
  padding: 0 15px;
  white-space: normal;
  }

#site_header header #store_name a {
  border: none;
  }

#site_header #branding {
  text-align: center;
  padding: 40px 0 55px;
  }

#site_header #branding a img {
  margin: 0 auto;
  }

#site_header #branding a h2 {
  display: none;
  }


/* --------------------------------------------------------------
  Site Footer
-------------------------------------------------------------- */

#site_footer footer {
	width: 100%;
  min-width: 900px;
  clear: both;
  float: left;
  margin: 0 auto;
  margin-top: 65px;
  padding-bottom: 10px;
  text-align: center;
  }

#site_footer footer h3 {
  display: none;
  }

#site_footer ul {
  text-decoration: none;
  border: none;
  }

#site_footer li {
  
  display: inline-block;
  font-size: 12px;
  -webkit-font-smoothing: subpixel-antialiased;
  zoom: 1;
  }

#site_footer li a {
  display: inline-block;
  padding: 0 8px;
  border: none;
  zoom: 1;
  }

#site_footer footer p {
  font-size: 11px;
  font-style: italic;
  }

#site_footer #website {
  border: 2px solid {{ theme.button_border }};
  color: {{ theme.button_border }};
  display: block;
  margin: 35px auto 20px;
  width: 140px;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-font-smoothing: subpixel-antialiased;
  }

#site_footer #website:hover { 
  border-color: {{ theme.button_border_hover }}; 
  color: {{ theme.button_border_hover }};
  }

#site_footer #search form {
  display: inline-block;
  zoom: 1;
  }

#site_footer #search input {
  display: none;
  padding: 0;
  width: auto;
  border: none;
  background: transparent;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 1px solid #ddd;
  font-size: 12px;
  -webkit-font-smoothing: subpixel-antialiased;
  }
  
#site_footer ul.social_icons {
  border-bottom: 0;
  font-size: 0;
  list-style: none;
  margin: 30px 0;
  padding: 0;
  width: 100%
}
#site_footer ul.social_icons li {
  border: 0; 
  display: inline-block;
  margin: 0 12px;
}
#site_footer ul.social_icons li a {
  border: 0; 
  display: block;
  padding: 0;
  text-align: center;
}
#site_footer ul.social_icons li a svg {
  -webkit-transition: fill .6s ease-in;
  -moz-transition: fill .6s ease-in;
  -ms-transition: fill .6s ease-in;
  -o-transition: fill .6s ease-in;
  transition: fill .6s ease-in;
  fill: {{ theme.links }};
  height: 20px;
  width: 20px;
}
#site_footer ul.social_icons li a:hover svg { 
  fill: {{ theme.links_rollover }};
}


/* --------------------------------------------------------------
  Main Nav
-------------------------------------------------------------- */

#main_nav {
  overflow: hidden;
  margin: 0 auto;
  text-align: center;
  }

#main_nav ul {
  margin: 0;
  }

#main_nav li {
  border-style: solid;
  border-width: 0 0 1px 0;
  display: inline-block;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-font-smoothing: subpixel-antialiased;
  }

#main_nav li a {
  display: block;
  padding: 20px 17px 13px;
  border: 0;
  }

#mobile_nav {
  display: none;
  }

/*============================================================
  Basic Styles - used for the simple controls
============================================================*/

/* Body Font */
body,
.product_header h3,
.product_header h5,
#product_inventory li h5,
#cart_items li .item_option,
#cart_summary li h3,
#social_links li h4,
.standalone .canvas p
{ font-family: {{ theme.body_font | font_family }}; }


/* Header Font */
h1, h2, h3, h4, h5, h6,
.button,
#error li,
#site_footer ul,
#site_footer #search input,
#main_nav li,
#cart_items li dt,
#cart_items li dd,
#cart_options #cart_discount p,
#cart_summary li span,
.standalone .canvas h1, input,
#cart_items li .quantity_input input
{ font-family: {{ theme.header_font | font_family }}; }


/* Background */
body,
#cart_page #content {
  background-color: {{ theme.background_color }};
{% if theme.images.background != blank %}
  background-image: url("{{ theme.images.background.url }}");
  background-repeat: repeat;
{% endif %}
  }


/* Secondary background */
#cart_page #site_header,
#checkout_page #content,
#contact_page #content,
#maintenance_page #content,
#product_page #content,
#success_page #content,
.custom #content,
#cart_summary
{ background-color: {{ theme.background_secondary }}; }


/* Text */
body,
p, blockquote, ul, ol, dl,
#error li,
#cart_items li .quantity_input input,
#main_nav li a:hover,
#main_nav li.selected a
{ color: {{ theme.text }}; }  


/* Text - Secondary  */
#site_footer footer p,
.alert-noproducts,
#cart_page #cart_empty p,
#success_page #content .canvas p,
.standalone .canvas p,
#product_description h3,
#product_inventory h3,
#cart_items li .item_quantity,
#cart_items li .item_option,
#social_links li h4,
#main_nav li a
{ color: {{ theme.text_secondary }} }


/* Text - Tertiary */
.page_header.product_header h5,
.custom #page_body p:first-child,
#contact_page #page_body p:first-child,
#site_footer #search input
{ color: {{ theme.text_tertiary }} }


/* Links */
a,
a:link,
a:visited
{ color: {{ theme.links }}; }


/* Links rollover */
a:hover,
a:active,
#site_header header #store_name a:hover
{ color: {{ theme.links_rollover }}; }


/* Header text */
#site_header header h1 a,
#site_header header h1 a:hover,
.product_header.page_header h1,
.product_header.page_header h3,
.standalone .canvas h1,
#site_header header #store_name a,
#site_footer footer h3
{ color: {{ theme.header_text }}; }

.page_header.product_header .dash {
  background: {{ theme.header_text }};
  }


/* Products background */
.product a:hover { 
	background-color: {{ theme.products_background }}; }

{% if theme.products_background == 'transparent' %}
.product a:hover,
#product_images li img {
  box-shadow: none !important;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
  }

.product a:hover .product_header * {
  color: {{ theme.header_text }} !important;
  text-shadow: none !important;
  }

.product a:hover .product_header .dash {
  background: {{ theme.header_text }};
  }

.product a:hover .product_thumb img {
  opacity: .6 !important;
  }
{% endif %}


/* Border color */
#main_nav li,
.category_nav,
#product_inventory,
#social_links,
#social_links li,
#more_products,
#more_products nav,
#contact_page #page_body p:first-child,
#contact_links,
#cart_items,
#cart_items li,
#cart_options,
#cart_summary,
#cart_summary li,
#cart_page #cart_empty,
#cart_page #site_footer,
#contact_links.no_intro,
#site_footer ul,
#site_footer ul li {
  border-color: {{ theme.borders }}; 
  }

{% capture same_background %}{{ theme.background_secondary }}{% endcapture %}

{% if theme.background_color == same_background %}
#product_page #content,
#contact_page #content,
.custom #content {
  border-top: 1px solid {{ theme.borders }};
  border-bottom: 1px solid {{ theme.borders }};
  }

#cart_summary,
#cart_page #content {
  border-top: 1px solid {{ theme.borders }};
  }
{% endif %}


/* Button Border/Color */
.button {
  border-color: {{ theme.button_border }};
  color: {{ theme.button_border }};
  }

.button:hover { 
  border-color: {{ theme.button_border_hover }}; 
  color: {{ theme.button_border_hover }};
  }


/* Inventory Bars */
#product_inventory .bar { background: {{ theme.borders }}; }
#product_inventory .bar span { background: {{ theme.inventory_bars }} }
