\:root
  --border-radius: 4px
  --large-padding: 7%
  --small-padding: 3.5%
  --primary-background-color: #{"{{ theme.background_color }}"}
  --secondary-background-color: #{"{{ theme.secondary_background_color }}"}

  --primary-text-color: #{"{{ theme.primary_text_color }}"}
  --secondary-text-color: #{"{{ theme.secondary_text_color }}"}

  --link-text-color: #{"{{ theme.link_text_color }}"}
  --link-rollover-color: #{"{{ theme.link_rollover_color }}"}

  --shop-name-text-color: #{"{{ theme.shop_name_text_color }}"}
  --header-text-color: #{"{{ theme.header_text_color }}"}

  --products-background-color: #{'rgba(var(--products-background-color-rgb), .9)'}

  --border-color: #{"{{ theme.border_color }}"}

  --button-text-color: #{"{{ theme.button_text_color }}"}
  --button-background-color: #{"{{ theme.button_background_color }}"}

  --button-rollover-color: #{"{{ theme.button_rollover_color }}"}

  --primary-font: #{"{{ theme.primary_font | font_family }}"}
  --secondary-font: #{"{{ theme.secondary_font | font_family }}"}

  --product-status-text-color-primary: #{"{{ theme.product_status_text_color_primary }}"}
  --product-status-text-color-secondary: #{"{{ theme.product_status_text_color_secondary }}"}

  --inventory-status-text-color: #{"{{ theme.inventory_status_text_color }}"}

  --announcement-background-color: #{'{{ theme.announcement_background_color }}'}
  --announcement-text-color: #{'{{ theme.announcement_text_color }}'}

  // Video player customization
  --video-rounded-radius: var(--border-radius)
  --video-margin-small: var(--small-padding)
  --video-margin-large: var(--large-padding)
  --video-size-large: 100%

html
  height: 100%
  min-height: 100%
  position: relative
  width: 100%

body
  +flexbox
  +flex-direction(column)
  background-color: var(--primary-background-color)
  background-image: #{"{% if theme.images.background != blank %}url(\'{{ theme.images.background.url | constrain: 200, 200 }}\'){% else %}none{% endif %}"}
  background-repeat: repeat
  background-size: 200px 200px
  color: var(--primary-text-color)
  font-family: var(--primary-font)
  height: 100%
  margin: 0
  padding: 0
  width: 100%

  &.maintenance-page
    +align-items(center)
    padding: 100px 20px

    .maintenance-content
      +flexbox
      +align-items(center)
      +justify-content(center)
      +flex-direction(column)
      border: 3px solid var(--header-text-color)
      color: var(--primary-text-color)
      font-size: $luna-font-base-px + 2
      gap: 24px
      padding: $luna-base * 4 $luna-base * 3
      max-width: 600px
      min-height: 200px
      text-align: center
      width: 100%

    .social-links
      margin: 0

a.skip-link
  +transition(all .3s)
  background: var(--primary-background-color)
  border: 1px solid var(--primary-text-color)
  color: var(--link-text-color)
  left: 25px
  padding: 15px 20px
  position: absolute
  text-decoration: underline
  top: -150px
  z-index: 100

  &:focus
    top: 20px

.wrapper
  padding: 0 $luna-base * 3
  margin: 0 auto
  max-width: 1100px
  width: 100%

  @media screen and (max-width: $break-small)
    padding: 0 $luna-base * 2

a
  +transition(color .1s linear)
  color: var(--link-text-color)
  text-decoration: none

  &:focus, &:hover
    color: var(--link-rollover-color)
    text-decoration: underline
    text-underline-offset: 3px

h1, h2, h3, h4, h5
  color: var(--header-text-color)
  font-weight: normal
  line-height: 1.4em
  margin: 0
  padding: 0
  position: relative

  &.has-dash
    margin-bottom: $luna-base * 6

    &:after
      bottom: -$luna-base
      content: ""
      background-color: var(--header-text-color)
      height: 2px
      left: 50%
      position: absolute
      transform: translateX(-50%)
      width: $luna-base * 3

h1
  font-size: 2em

  @media screen and (max-width: $break-small)
    font-size: 1.5em

a[href], label[for], select, button, .pointer
  cursor: pointer

button, input, textarea, select
  +appearance(none)
  background: none
  border: none
  border-radius: var(--border-radius)
  color: var(--primary-text-color)
  padding: 0
  font-family: var(--secondary-font)

header
  text-align: center

  &.has-background
    background-color: var(--secondary-background-color)
    padding-bottom: 60px

.header-nav
  margin-top: $luna-base

  @media screen and (max-width: $break-small)
    display: none

  ul
    +flexbox
    +justify-content(center)
    list-style: none
    margin: 0
    padding: 0

    li
      border-bottom: 1px solid var(--border-color)
      padding: $luna-base

      @media screen and (max-width: $break-small)
        border-bottom: none

      &.selected

        a
          color: var(--primary-text-color)
    a
      color: var(--secondary-text-color)
      display: block
      font-size: $luna-font-base-px + 2
      padding: $luna-base
      text-decoration: none

      @media screen and (max-width: $break-small)
        font-size: $luna-font-base-px

      &:hover, &:focus
        color: var(--link-rollover-color) !important
        text-decoration: underline
        text-underline-offset: 3px

  &.mobile-nav
    display: none

    ul
      gap: $luna-base

      li
        padding: 0

    @media screen and (max-width: $break-small)
      display: block
      font-family: var(--secondary-font)
      padding-bottom: $luna-base * 2

.branding
  font-size: 20px
  margin: 54px auto

  @media screen and (max-width: $break-small)
    margin: 30px auto

  > a
    display: inline-block

    &:hover, &:focus
      text-decoration: none

.store-header
  color: var(--shop-name-text-color)
  font-size: 42px
  word-break: break-word

  @media screen and (max-width: $break-small)
    font-size: 32px

.page-title
  text-align: center

.store-logo
  display: block
  margin: 0 auto
  max-width: 100%
  max-height: 200px

.main
  +flex(1)
  padding-bottom: 60px

  @media screen and (max-width: $break-small)
    padding-bottom: 0
  
  h1.page-title
    font-size: 25px
    text-align: center

_:-ms-fullscreen, :root .main
  +flex(1 0 auto)

#cart_page, #contact_page, #maintenance_page, #product_page, .custom
  .main
    background-color: var(--secondary-background-color)
    padding-bottom: $luna-base * 8
    padding-top: $luna-base * 8

    @media screen and (max-width: $break-small)
      padding-bottom: $luna-base * 4
      padding-top: $luna-base * 4

button.button, a.button
  +transition(color, background-color .1s linear)
  background: var(--button-background-color)
  color: var(--button-text-color)
  display: block
  font-size: 16px
  height: 56px
  max-width: 100%
  padding: 0 $luna-base * 2
  text-align: center
  width: 100%

  &.minimal-button
    background: none
    color: var(--primary-text-color)
    border: none
    font-size: 14px

    &:not(:disabled):hover, &:not(:disabled):focus
      background: none !important
      color: var(--link-rollover-color)
      text-decoration: underline
      text-underline-offset: 3px

  &:disabled, &.disabled
    cursor: not-allowed
    opacity: .4

  &.no-border
    border: none

  &:not(:disabled):hover, &:not(:disabled):focus
    background: var(--button-rollover-color)

.select
  height: 56px
  margin-bottom: $luna-base * 2
  max-width: 100%
  padding: 0
  position: relative
  width: 100%

  select
    border: 2px solid var(--primary-text-color)
    border-radius: var(--border-radius)
    height: 100%
    padding: 0 48px 0 16px
    position: relative
    width: 100%
    z-index: 2

    option
      background-color: #FFFFFF
      color: #000

      &:disabled
        background-color: #FFFFFF
        color: graytext

    &:focus
      box-shadow: none

    &::-ms-expand
      display: none

  svg
    fill: var(--primary-text-color)
    height: 8px
    position: absolute
    right: 16px
    top: 50%
    width: 13px
    z-index: 1
    transform: translateY(-50%)

.custom-page-header
  text-align: center

.custom-page-content
  font-family: var(--secondary-font)
  font-size: $luna-font-base-px
  margin: 0 auto
  max-width: 700px

  a
    color: var(--secondary-text-color)
    text-decoration: underline
    text-underline-offset: 3px

    &:hover, &:focus
      color: var(--link-rollover-color)

  p
    margin: revert

  &>:first-child
    margin-top: 0

  &>:last-child
    margin-bottom: 0

  ol, ul
    padding-left: 1.5em
    margin: 1em 0

    ol, ul
      margin: 0.5em 0
  
  ul
    list-style: disc

  ol
    list-style: decimal
  
  img
    display: inline-block
    max-width: 100%
    margin: 0 auto
    padding-bottom: 16px

  iframe
    display: block
    margin: 0 auto
    max-width: 100%
    margin-bottom: 16px

.custom .footer-nav
  border: none

.footer-custom-content
  color: var(--secondary-text-color)
  display: grid
  grid-template-columns: 1fr
  justify-content: center
  text-align: center
  padding: 20px 0
  gap: 20px

  > *
    justify-self: center

footer
  padding-top: 100px

.footer-nav
  +flexbox
  +flex-direction(column)
  +align-items(center)
  list-style: none
  gap: $luna-base * 5
  margin: 0
  padding: $luna-base * 3 0

  &--social
    padding: $luna-base * 4 0

  ul
    +flexbox
    +justify-content(center)
    +flex-wrap(wrap)
    list-style: none
    margin: 0
    padding: 0

    &.footer-links

      @media screen and (max-width: $break-small)
        +flex-direction(column)
        padding: 0
        width: 100%

        a
          padding: $luna-base * 1.5 0
          text-align: center

    a
      display: block
      color: var(--secondary-text-color)
      padding: $luna-base $luna-base * 2

      &:hover, &:focus
        color: var(--link-rollover-color)

.wrapper
  .footer-nav:nth-child(1)
    position: relative
    content: ""
    top: 0
    left: 50%
    transform: translateX(-50%)
    width: 1080px
    max-width: 100%
    border-top: 1px solid var(--border-color)

.social-links
  +flexbox
  +justify-content(center)
  +flex-wrap(wrap)
  list-style: none
  margin: 0 0 $luna-base * 3 0
  padding: 0

  a
    display: flex !important
    color: var(--secondary-text-color)
    padding: $luna-base $luna-base * 2

  svg
    display: block
    fill: currentColor
    height: 22px
    width: 22px

    &.tumblr-icon
      width: 16px

  &:hover, &:focus
    color: var(--link-rollover-color)

.search-form
  position: relative

.search-input
  border: 1px solid var(--secondary-text-color)
  cursor: pointer
  padding: 8px 32px 8px 12px
  width: 240px

  &::-webkit-input-placeholder
    color: var(--primary-text-color)

  &::-moz-placeholder
    color: var(--primary-text-color)

  &:-ms-input-placeholder
    color: var(--primary-text-color)

  &:-moz-placeholder
    color: var(--primary-text-color)

  @media screen and (max-width: $break-small)
    display: block
    margin: $luna-base auto
    width: 250px

  &:hover, &:focus
    border: 1px solid var(--link-rollover-color)

button.search-button
  +flexbox
  +align-items(center)
  +justify-content(center)
  height: 24px
  padding: 0
  position: absolute
  right: 8px
  top: 50%
  transform: translateY(-50%)
  width: 24px

.search-icon
  fill: var(--primary-text-color)
  display: block
  height: 16px
  width: 16px

.errors
  border-radius: var(--border-radius)
  background-color: #b11a2a
  color: #FFFFFF
  list-style: none
  margin: 0 auto $luna-base * 4
  padding: $luna-base * 1.5 $luna-base * 2
  text-align: center

input, textarea
  border: 2px solid var(--primary-text-color)
  padding: $luna-base

a.back-to-site
  background: none
  border-radius: var(--border-radius)
  border: 2px solid var(--primary-text-color)
  color: var(--primary-text-color)
  font-size: $luna-font-base-px - 4
  height: auto
  padding: $luna-base * 2 $luna-base * 4
  width: auto

  &:hover, &:focus
    background: none !important
    border: 2px solid var(--link-rollover-color)
    color: var(--link-rollover-color)
    text-decoration: none

.back-to-site + .bigcartel-credit
  margin-top: $luna-base * 3

.bigcartel-credit
  color: var(--secondary-text-color)
  line-height: 1em
  font-size: 15px
  display: flex
  align-items: center
  gap: 8px
  outline-offset: 4px
  padding: 2px 0
  text-decoration: none

  &:hover
    text-decoration: none

  &__text
    position: relative

  &__lockup
    display: block
    fill: currentColor
    padding-top: 1px
    width: 86px

.centered-message
  color: var(--secondary-text-color)
  font-family: var(--secondary-font)
  font-size: 18px
  padding: 0 16px
  text-align: center

  a
    text-decoration: underline
    text-underline-offset: 3px

.visually-hidden
  border: 0
  clip: rect(0 0 0 0)
  height: 1px
  margin: -1px
  overflow: hidden
  padding: 0
  position: absolute
  width: 1px

.blur-up
  transition: filter .2s
  filter: blur(5px)
  transform: translate3d(0, 0, 0)

  &.lazyloaded
    filter: blur(0)