@import 'variables'

.artist-category-nav
  +flexbox
  +flex-wrap(wrap)
  +align-items(center)
  +justify-content(center)
  +flex-direction(column)
  border-bottom: 1px solid $border-color
  border-top: 1px solid $border-color
  font-size: $luna-font-base-px
  line-height: $luna-font-base-px + 2
  margin-bottom: $luna-base * 8
  padding: $luna-base * 2 0

  @media screen and (max-width: $break-small)
    margin-bottom: $luna-base * 4
    padding: $luna-base 0

  &.artist-category-nav-footer
    margin-bottom: 0
    margin-top: $luna-base * 5

    @media screen and (max-width: $break-medium)
      margin-top: $luna-base * 3

  .nav-title
    font-size: $luna-font-base-px + 2
    margin: 0 $luna-base $luna-base 0
    margin-right: $luna-base
    padding: 3px

  nav
    +flexbox
    +align-items(center)
    +justify-content(center)
    +flex-direction(column)
    padding: $luna-base * 2 0

    &:not(:last-child)
      @media screen and (max-width: $break-small)
        margin-bottom: 0

  ul
    +flexbox
    +align-items(center)
    +justify-content(center)
    +flex-wrap(wrap)
    font-family: $secondary-font
    list-style: none
    margin: 0 auto
    padding: 0

    @media screen and (max-width: $break-medium)
      +flex-wrap(wrap)

    li
      padding: 3px 0

      a
        display: inline
        padding: 6px 8px
        white-space: nowrap

        &:hover
          text-decoration: underline

      &.selected a
        text-decoration: underline

      &:not(:last-child):after
        content: "/"
        padding: 0 2px

.product-list
  +flexbox
  +flex-wrap(wrap)
  +justify-content(flex-start)
  margin: 8px -8px

.product-list-thumb
  +flex-basis(calc(100% / #{"{{ theme.max_products_per_row }}"}))
  color: $primary-text-color
  display: block
  font-size: 0
  letter-spacing: 1px
  padding: 8px
  padding-bottom: 8px
  position: relative
  text-decoration: none
  text-transform: uppercase
  vertical-align: middle
  width: calc(100% / #{"{{ theme.max_products_per_row }}"})

  &:hover, &:focus
    color: $links-rollover-color

  @media screen and (max-width: $break-small)
    +flex-basis(calc(100% / #{"{{ theme.max_products_per_row_mobile }}"}))
    padding: 8px
    width: calc(100% / #{"{{ theme.max_products_per_row_mobile }}"})

  @media (hover: hover), (-moz-touch-enabled: 0)
    &.rollover
      .product-list-thumb-info
        +flexbox
        +align-items(center)
        +justify-content(center)
        +flex-direction(column)
        +transition(opacity .2s linear)
        color: #FFFFFF
        opacity: 0
        padding: 16px
        position: absolute
        top: 8px
        left: 8px
        width: calc(100% - 16px)
        height: calc(100% - 16px)

      .product-list-thumb-info-headers
        +transition(top .2s linear)
        position: relative
        top: 5%

      .product-list-thumb-name:after
        background-color: #FFFFFF

      &:hover, &:focus
        .product-list-item-background
          opacity: .6

        .product-list-thumb-info
          opacity: 1

        .product-list-thumb-info-headers
          top: 0

_:-ms-fullscreen, :root .product-list-thumb
  +flex-basis(auto)

.product-list-thumb-container
  position: relative
  width: 100%

.product-list-image-container
  border-radius: $border-radius
  font-size: 0
  margin: 0
  overflow: hidden
  padding-bottom: 100%
  position: relative
  width: 100%

  .default &
    padding-bottom: 0

.product-list-image
  display: block
  overflow: hidden

  &.lazy
    filter: blur(5px)

  .default &
    width: 100%

  .crop-to-square &
    height: 100% !important
    object-fit: cover
    position: absolute
    width: 100%

  .fit-to-square &
    +transform(translate3d(-50%,-50%,0))
    cursor: pointer
    left: 50%
    position: absolute
    top: 50%
    max-width: 100%
    height: 100%
    width: 100%

    &.image-tall
      height: 100%
      width: auto

    &.image-wide
      height: auto
      width: 100%

    &.image-square
      height: 100%
      width: 100%

  &:last-child
    opacity: 0
    visibility: hidden

  &:only-child
    opacity: 1
    visibility: visible

.product-list-thumb-info
  font-size: 18px
  line-height: 1.25em
  padding: 16px 8px
  position: relative
  text-align: center

  @media screen and (max-width: $break-small)
    padding: 8px 0

.product-list-item-background
  background-color: $products-background-color
  border-radius: $border-radius
  height: 100%
  left: 0
  opacity: 0
  position: absolute
  top: 0
  width: 100%

.product-list-thumb-name
  overflow-wrap: break-word
  position: relative

  &:after
    bottom: -$luna-base
    content: ""
    background-color: $primary-text-color
    height: 1px
    left: 50%
    position: absolute
    transform: translateX(-50%)
    width: 20px

.product-list-thumb-price
  font-size: .75em
  margin-top: $luna-base * 2

.pagination
  +flexbox
  +align-items(center)
  +justify-content(center)
  font-family: $secondary-font
  margin: 32px auto 0
  padding: $luna-base * 3
  width: 100%

  @media screen and (max-width: $break-small)
    margin-bottom: $luna-base * 3
    margin-top: $luna-base * 3

  a, span
    padding: 8px

    &:not(.disabled):hover, &:not(.disabled):focus
      color: $links-rollover-color
      text-decoration: underline

    &.disabled
      display: none

    &.current
      text-decoration: underline

#products_page .footer-nav, #home_page .footer-nav
  @media screen and (max-width: $break-small)
    border-top: 0px

#products_page .main .wrapper, #home_page .main .wrapper
  @media screen and (max-width: $break-small)
    border-bottom: 1px solid $border-color

    .empty-products
      padding-bottom: $luna-base * 8
