\:root
  --thumbnail-active-color: var(--links-rollover-color)
  --thumb-scroller-color: var(--primary-text-color)
  --thumb-scroller-background: #{rgba(0,0,0,.1)}
  --current-slide-background: var(--secondary-background-color)
  --current-slide-color: var(--primary-text-color)
  --active-slide-border-width: 2px
  --gap-width: 10px
  --num-images: 5

.product-carousel
  .splide__list
    align-items: flex-start

  .splide__slide
    transition: height .2s ease

    img
      height: auto

  .splide__slide:not(.is-active)
    height: 0

.splide__track
  border-radius: var(--border-radius)

.splide__arrows
  display: none

  @media (hover: hover)
    display: block

.splide__arrow
  transition: opacity .2s ease
  opacity: 0
  border-radius: var(--border-radius)
  width: 2em
  height: 4em

  &:disabled
    opacity: 0

  &--prev
    left: .75em

  &--next
    right: .75em

.splide:hover, .splide:focus-within
  .splide__arrow:not(:disabled)
    opacity: 1

.product-thumbnails

  &--list
    display: flex
    gap: var(--gap-width)
    flex: 1
    padding: calc(var(--gap-width) / 2)
    scroll-padding-left: calc(var(--gap-width) / 2)
    align-items: center
    justify-content: center
    position: relative

    @media screen and (max-width: $break-small)
      .product-thumbnails--item
        --num-images: 4

      &.mobile-overflow
        padding: 0

        .product-thumbnails--item
          --num-images: 5

    &.is-overflow
      justify-content: flex-start
      overflow-x: auto
      scroll-snap-type: x mandatory
      scroll-behavior: smooth
      scrollbar-width: none

      &::-webkit-scrollbar
        display: none

    &.thumbnails
      flex-wrap: wrap

  &--item
    width: calc(calc(100% / var(--num-images)) - calc(var(--gap-width) - calc(var(--gap-width) / var(--num-images))))
    flex-shrink: 0
    cursor: pointer
    border-radius: var(--border-radius)
    user-select: none
    pointer-events: none
    position: relative
    scroll-snap-align: start

    &:before
      content: ""
      display: block
      padding-bottom: 100%

    &:not([aria-current="true"]):hover
      img
        opacity: .8

    &[aria-current="true"]
      .product-thumbnails--change-slide
        box-shadow: 0 0 0 var(--active-slide-border-width) var(--thumbnail-active-color)

    .product-thumbnails--change-slide
      position: absolute
      top: 0
      left: 0
      display: block
      height: 100%
      width: 100%
      padding: 0
      overflow: hidden
      user-select: none
      border-radius: var(--border-radius)
      pointer-events: auto

      img
        height: 100%
        width: 100%
        object-fit: cover

.gallery-link
  display: block

.product-thumbnails-buttons-container
  align-items: center
  display: flex
  gap: 4px
  margin-top: 16px
  width: 100%

  .thumb-scroller
    display: none
    align-items: center
    justify-content: center
    width: 32px
    height: 56px
    color: var(--thumb-scroller-color)

    @media screen and (max-width: $break-small)
      height: 44px

    &[disabled]
      opacity: .2
      cursor: not-allowed

    &:not([disabled]):hover
      background: var(--thumb-scroller-background)

    svg
      display: block
      width: 16px

    &--left
      svg
        transform: rotate(90deg)

    &--right
      svg
        transform: rotate(-90deg)

    &.hidden
      display: none
      //opacity: 0
      //visibility: hidden

@media screen and (min-width: $break-small + 1)
  .overlay-image-counter
    display: none

  .desktop-stacked, .desktop-two-column
    .splide
      .splide__list
        display: flex !important
        flex-direction: column
        gap: 16px

      .splide__slide
        height: auto
        flex-shrink: 0
        width: 100%

    .product-thumbnails-buttons-container
      display: none

  .desktop-two-column
    .splide
      .splide__list
        flex-direction: row
        flex-wrap: wrap

      .splide__track
        overflow: visible

      .splide__slide
        width: calc((100% / 2) - 8px)

        &:not(:first-child)
          &:before
            content: ""
            display: block
            padding-bottom: 100%

          a
            position: absolute
            top: 0
            left: 0
            display: block
            height: 100%
            width: 100%
            padding: 0
            overflow: hidden
            user-select: none
            border-radius: var(--border-radius)
            pointer-events: auto

            img
              height: 100%
              width: 100%
              object-fit: cover

        &:first-child
          width: 100%

  .desktop-carousel

    .thumb-scroller
      display: flex

    .overlay-image-counter
      display: flex

  .desktop-thumbnails
    .product-thumbnails
      padding: 0px

      &--list
        display: grid
        grid-template-columns: repeat(5, 1fr)
        padding: 4px 0

      &--item
        width: 100%

  .mobile-buttons-indicator
    display: none

@media screen and (max-width: $break-small)
  .mobile-show-thumbnails
    .mobile-buttons-indicator
      display: none

    .thumb-scroller
      display: flex

  .mobile-hide-thumbnails
    .overlay-image-counter
      display: none

    .product-thumbnails-buttons-container
      display: none

    .mobile-buttons-indicator
      display: flex
      font-size: .925em
      gap: 24px
      align-items: center
      justify-content: center
      margin-top: 16px

      button
        display: flex
        align-items: center
        justify-content: center
        padding: 0
        width: 30px
        height: 30px
        background: var(--thumb-scroller-background)
        color: var(--thumb-scroller-color)

.overlay-image-counter
  position: absolute
  right: 10px
  bottom: 10px
  font-size: .8em
  z-index: 1000
  background: var(--current-slide-background)
  color: var(--current-slide-color)
  padding: 6px 8px
  border-radius: var(--border-radius)