#instant-checkout-button
  margin-top: 12px

#product_page

  .related-products-container.under_image + footer .footer-nav
    border-top: 1px solid var(--border-color)

.product-page
  --headings-grid-area: 1 / 1 / 2 / 2
  --details-grid-area: 2 / 1 / 3 / 2
  --images-grid-area: 1 / 2 / 3 / 2
  --product-page-columns: minmax(210px, 370px) minmax(240px, 700px)
  display: grid
  grid-template-columns: var(--product-page-columns)
  grid-template-rows: auto 1fr
  column-gap: calc(var(--large-padding) / 1.5)
  row-gap: 40px
  justify-content: center

  &.images_left_details_right
    --headings-grid-area: 1 / 2 / 2 / 2
    --details-grid-area: 2 / 2 / 3 / 2
    --images-grid-area: 1 / 1 / 3 / 2
    --product-page-columns: minmax(240px, 700px) minmax(210px, 370px)

  @media screen and (max-width: $break-small)
    grid-template-columns: 1fr

  .product-page-headings
    grid-area: var(--headings-grid-area)

    @media screen and (max-width: $break-small)
      grid-area: 1
      max-width: 100%

  .product-title
    margin-bottom: $luna-base * 3
    text-align: center

  .product-price
    font-family: var(--secondary-font)
    text-align: center
    font-size: $luna-font-base-px + 4
    font-weight: normal

  .product-status
    font-family: var(--secondary-font)
    font-size: $luna-font-base-px
    font-style: italic
    margin-bottom: $luna-base * 1.75
    text-align: center

    &.status-primary
      color: var(--product-status-text-color-primary)
        
    &.status-secondary
      color: var(--product-status-text-color-secondary)

  .product-details
    grid-area: var(--details-grid-area)

    @media screen and (max-width: $break-small)
      grid-area: 3
      max-width: 100%

  .add-to-cart-button
    display: block
    width: 100%

  .reset-selection-button-container
    text-align: center
    width: 100%

  button.reset-selection-button
    display: none
    height: auto
    max-width: 100%
    margin: 20px auto 0
    padding: 4px
    width: auto
    font-size: $luna-font-base-px - 2

  .product-description
    font-family: var(--secondary-font)
    font-size: $luna-font-base-px

    a
      color: var(--link-text-color)
      text-decoration: underline
      text-underline-offset: 2px

      &:hover, &:focus
        color: var(--link-rollover-color)

    p
      margin: revert

    &>:first-child
      margin-top: 0

    &>:last-child
      margin-bottom: 0

    ol, ul
      margin: 1em

    ul
      list-style: disc

    ol
      list-style: decimal

  .product-form
    margin-bottom: 32px

  .product-images
    grid-area: var(--images-grid-area)

    @media screen and (max-width: $break-small)
      display: grid
      grid-area: 2
      max-width: 100%

  .product-image
    border-radius: var(--border-radius)
    width: 100%

.similar-product-list
  +justify-content(flex-start)

  .product-list-item
    width: 33.33%

    @media screen and (max-width: $break-small)
      width: #{"{% if theme.max_products_per_row_mobile == 2 %} 50% {% else %} 100% {% endif %}"}

.related-products-container 
  margin: 0 auto 60px auto

  @media screen and (max-width: $break-small)
    margin-top: 40px

.similar-products-header
  +flexbox
  +align-items(center)
  padding: $luna-base * 3 0 0 0
  margin-top: $luna-base * 2

  @media screen and (max-width: $break-small)
    margin-top: 0
    padding-bottom: $luna-base

  .similar-products-title
    font-size: $luna-font-base-px + 8

  .prev-next-products
    +flexbox
    border: none
    font-size: $luna-font-base-px - 1
    padding: 0

    @media screen and (max-width: $break-small)
      display: none

.prev-next-products
  border-bottom: 1px solid var(--border-color)
  +flexbox
  +justify-content(center)
  font-family: var(--secondary-font)
  font-size: $luna-font-base-px - 1
  list-style: none
  margin: 0
  margin-left: auto
  padding: $luna-base * 3 0

  li:not(:last-child):after
    content: "/"
    padding: 0 8px

  a
    padding: $luna-base $luna-base

  &.with-related
    display: none

    @media screen and (max-width: $break-small)
      border-top: 1px solid var(--border-color)
      +flexbox

.product-form select span, .product-form select span option
  display: none
  opacity: 0
  visibility: hidden

.product-inventory
  border-top: 1px solid var(--border-color)
  margin: $luna-base * 4 0 $luna-base * 2
  padding: $luna-base * 2 0

  .product-inventory-header
    margin-bottom: $luna-base * 3
    font-size: $luna-font-base-px - 1
    text-align: center

.inventory-bars
  font-family: var(--secondary-font)
  list-style: none
  margin: 0
  padding: 0

  li
    margin-bottom: $luna-base * 2 + 2

  .option-name
    margin-bottom: $luna-base / 2
    font-size: $luna-font-base-px - 1
    text-transform: none

  .inventory-bar
    background-color: var(--border-color)
    height: 2px
    position: relative
    width: 100%

  .inventory-percentage
    background-color: var(--border-color)
    display: block
    height: 3px
    position: absolute
    top: 2px

  .inventory-label
    color: var(--secondary-text-color)
    font-size: 12px
    display: none
    position: absolute
    right: 0
    top: -16px

