/* -------------------------------------------------------------- 
  Product Page 
-------------------------------------------------------------- */ 
  
.page_header.product_header.fixed {
  position: fixed !important;
  }

.page_header.product_header h1,
.page_header.product_header h3 {
  text-shadow: none;
  }
  
.page_header.product_header h1 {
  font-size: 24px;
  text-transform: uppercase;
  }

.page_header.product_header h3 {
  font-size: 20px;
  margin-left: -4px;
  }

.page_header.product_header h3 span {
  position: relative;
  top: -5px;
  font-size: .6em;  
  }

.page_header.product_header .dash {
  height: 2px;
  -webkit-box-shadow: none;
  box-shadow: none;  
  }
  
.page_header.product_header h5 {
  top: -19px;
  text-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  }     
  
.page_header {
  margin-bottom: 30px;
  }  
    
#product_page #content .product_header {
  position: relative;
  float: left;
  width: 220px;
  margin-top: 10px;
  margin-bottom: 0;
  }

#product_info {
  float: left;
  clear: left;
  width: 220px;
  margin-top: 22px;
  }

#product_description h2,
#product_description h3{
  margin: 0 0 .5em 0;
  font-size: 14px;
  }

#product_description h3 {
  font-size: 12px;
  }

#product_description ul,
#product_description ol {
  list-style-type: circle;
  list-style-position: outside;
  width: 100%;
  }
  
#product_images {
  float: right;
  position: relative;
  max-width: 550px;
  margin-top: 2px;
  }

#product_images li {
  margin-bottom: 15px;
  line-height: 0; 
  }
  
#product_images li:last-child { margin: 0; }  
  
#product_images li img {  
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 8px rgba(0,0,0,.4); 
  box-shadow: 0 1px 8px rgba(0,0,0,.4); 
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; 
  }
  
#product_inventory {
  margin: 35px 0 0px 0;
  padding: 18px 10px 8px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  }  
  
#product_inventory h3 {
  margin-bottom: 13px;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: .3em;
  text-align: center;
  }  

#product_inventory li {
  width: 200px;
  }

#product_inventory li h5 {
  margin-top: 7px;
  font-size: 12px;
  }

#product_inventory .bar {
  width: 100%;
  height: 2px;  
  }

#product_inventory .bar span {
  display: block;
  height: 2px;  
  }

#product_inventory .bar span em {
  display: none;
  }

#product_form {
  margin-top: 40px;
  }
  
#product_form select {
  width: 220px;
  margin-bottom: 15px;
  } 
  
#product_info .button.disabled {
  margin-top: 40px;
  }

#social_links {
  width: 100%;
  margin-top: 40px;
  border: 1px solid #ccc;
  }

#social_links li {
  padding: 12px 0;
  text-align: center;
  border-top: 1px solid #ccc;
  }  

#social_links li:first-child {
  border: none;
  }

#social_links li h4 {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1px;
  }

#social_links .social_action {
  display: none;
  }

#social_links li .social_action a {
  border: none !important;
  }

#social_links li:hover h4 {
  display: none;
  }

#social_links li:hover .social_action {
  display: block;
  }

#social_links #social_facebook:hover,
#social_links #social_pinterest:hover,
#social_links #social_tweet:hover  {
  padding-bottom: 8px;
  } 
  
#social_links #social_facebook iframe {
  margin: 0 auto 0 30px;
  }

#social_links #social_tweet iframe {
  width: 50% !important;
  height: 20px;
  margin-left: 30px !important;
  }

#social_links #social_pinterest iframe {
  width: 50% !important;
  height: 20px;
  margin-left: 60px !important;
  }

#more_products {
  position: relative;
  overflow: hidden;
  clear: both;
  margin-top: 39px;
  padding-bottom: 31px;
  border-bottom: 1px solid #e5e5e5;
  }
  
#more_products h3:first-child {
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 3px;
  }

#more_products ul#products {
  margin-top: 39px;
  }

#more_products nav {
  position: absolute;
  top: 0;
  right: 0;
  }
 
#more_products nav li {
  margin-top: 3px;
  display: inline-block;
  font-size: 13px;
  }   

#more_products ul#products li:nth-child(4) {
  display: none;
  } 
  
#more_products.no_products {
  margin-top: 0;
  padding: 20px 0;
  }

#more_products.no_products nav {
  position: relative;
  text-align: center;
  }

#more_products.no_products nav ul {
  margin-bottom: 0;
  }

#more_products nav li:before {
  content:"/";
  padding: 0 4px 0 0;
  }
  
#more_products nav li:first-child:before {
  content:"";
  }    

#more_products nav li a {
  padding: 5px 3px 3px;
  border: none;
  text-decoration: underline;
  } 

