/*============================================================
  Responsive styles
============================================================*/

@media screen and (max-width: 569px),
  screen and (max-device-width: 569px) and (orientation: landscape) {

p, blockquote, ul, ol, dl {
  font-size: 17px;
  line-height: 1.4em;
  }

.button {
  display: block;
  width: 100%;
  padding: 17px 0 !important;
  }

#error {
  width: 90%;
  margin: 0 auto;
  margin-top: -10px;
  margin-bottom: 30px;
  }

#error li {
  width: 100%;
  padding: 6px 0 3px;
  }


/* Structure
------------------------------------------------------------*/

.strip {
  overflow: hidden;
  background: transparent;
  }

.canvas {
  position: relative;
  width: 100%;
  margin: 0 auto;
  clear: both;
  }

.standalone .canvas {
  width: 65%;
  }

#content {
  margin-top: 0;
  padding: 40px 0;
  }

#page_body {
  width: 90%;
  margin: 0 auto;
  }


/* Main Nav
------------------------------------------------------------*/

#main_nav {
  display: none;
  }

#mobile_nav {
  display: block;
  margin-bottom: 30px;
  }

#mobile_nav {
  text-align: center;
  }

#mobile_nav li {
  display: inline-block;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-font-smoothing: subpixel-antialiased;
  text-decoration: underline;
  }

#mobile_nav li a {
  display: block;
  padding: 20px 15px 13px;
  border: 0;
  }

#site_header header #store_name {
  margin: 30px auto 0;
  font-size: 36px;
  letter-spacing: 3px;
  word-wrap: break-word;
  }

#site_header #branding {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  padding: 30px 0 5px;
  }


/* Site Footer
------------------------------------------------------------*/

#site_footer footer {
  min-width: 0;
  margin-top: 30px;
  }

#site_footer ul {
  width: 90%;
  margin: 0 auto;
  border-top: none;
  }

#site_footer li {
  display: block;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  border-bottom: 1px solid {{ theme.borders }};
  font-family: {{ theme.body_font | font_family }};
  }
  
#site_footer li:last-child {
  border-bottom: none
}
  
#site_footer li a {
  display: block;
  padding: 8px 0;
  border: none;
  }


#site_footer footer p {
  margin-top: 30px;
  }

#site_footer #search input {
  width: 95%;
  padding: 10px 5px;
  background: #fff;
  border: none;
  }


/* Products List
------------------------------------------------------------*/

#products {
  width: 100%;
  margin: 0 !important;
  }

.product_header h2 { 
  font-size: 16px
}

.product_header h5 { 
  font-size: 14px
}

#products.single_product,
#products.double_product {
  float:  none;
  margin: 0;
  width: 100%;
  left: 0;
  }

.product,
.product_header,
.product_thumb,
.product_thumb img {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
  border-radius: 0 !important;
  }

.product {
  float: none;
  overflow: hidden;
  width: 100%;
  height: 150px;
  margin: 0;
  border-radius: 0 !important;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.4);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.4);
  }

.product a:hover,
.product:hover {
  border-radius: 0;
  box-shadow: inset 0 1px 0 rgba(255,255,255,.4);
  }

.product a {
  border-radius: 0;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  background: {{ theme.products_background }};
  }

.product:first-child {
  -webkit-box-shadow: none;
  box-shadow: none;
  }

.product .product_header {
  opacity: 1;
  filter: alpha(opacity=10); /* IE6-IE8 */
  width:100%;
  }

.product a:hover .product_header {
  opacity: 1;
  filter: alpha(opacity=1); /* IE6-IE8 */
  width:100%;
  margin:0 auto;
  top:60%;
  }

.product_thumb {
  position: absolute;
/*   top: -70%; */
  width: 100%;
  height: 100%;
  margin: 0;
  opacity: .4;
  filter: alpha(opacity=40); /* IE6-IE8 */
  border-radius: 0;
  }

.product .product_thumb img {
  min-width: 100%;
  width: 100%;
  height: auto;
  -webkit-transform:translateY(-50%);
  -moz-transform:translateY(-50%);
  -ms-transform:translateY(-50%);
  -o-transform:translateY(-50%);
  transform:translateY(-50%);
  top:50%;
  }
.product a:hover .product_thumb img { 
  -webkit-transform:translateY(-50%);
  -moz-transform:translateY(-50%);
  -ms-transform:translateY(-50%);
  -o-transform:translateY(-50%);
  transform:translateY(-50%);
  top:50%;
}

/* Products Page
------------------------------------------------------------*/

.category_nav:first-child {
  margin-top: 10px;
  margin-bottom: 0;
  }

.category_nav.double nav.categories,
.category_nav.double nav.artists {
  width: 100%;
  display: inline-block;
  }

.category_nav.double nav.categories,
.category_nav.double nav.artists {
  text-align: center;
  margin: 0;
  }

.category_nav h3 {
  margin-bottom: 6px;
  }

.category_nav li a {
  padding: 10px 4px;
  }

#pagination {
  margin-top: 30px;
  margin-bottom: 28px;
  }

#pagination span,
#pagination a {
  padding: 8px 10px;
  border: none;
  }


/* Product Page
------------------------------------------------------------*/

#product_page #content .product_header {
  float: none;
  width: 100%;
  margin-top: 0;
  margin-bottom: 25px;
  }

#product_images {
  float: none;
  width: 90%;
  margin: 0 auto;
  }

#product_images li img {
  min-width: 100%;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  }

#product_images li {
  margin-bottom: 5px;
  }

#product_images li {
  margin-bottom: 5px;
  }

#product_images .flex-control-nav {
  bottom: -25px;
  }

#product_info {
  float: none;
  clear: none;
  width: 90%;
  margin: 40px auto 0;
  }

#product_inventory {
  margin: 35px 0 0 0;
  padding: 15px 15px 2px;
  }

#product_inventory h3 {
  margin-bottom: 10px;
  font-size: 11px;
  text-align: left;
  }

#product_inventory li {
  width: 100%;
  }

#product_inventory li h5 {
  font-size: 13px;
  }

#product_form {
  margin-top: 38px;
  }

#product_form select {
  width: 100%;
  }

#social_links {
  margin-bottom: 0;
  }

#social_links li {
	height: 50px;
	}

#social_links li h4 {
  display: none;
  }

#social_links .social_action {
  opacity: 1;
  top: 16px;
  visibility: visible;
  }


#more_products {
  margin-top: 0;
  padding-bottom: 0;
  }

#more_products h3:first-child {
  padding-top: 35px;
  text-align: center;
  }

#more_products ul#products {
  overflow: hidden;
  margin-top: 30px !important;
  }

#more_products nav {
  clear: both;
  position: relative;
  top: 0;
  right: 0;
  text-align: center;
  margin: 0 auto;
  border-top: 1px solid #E5E5E5;
  padding: 18px 0 5px;
  }

#more_products nav li a {
  padding: 10px 4px;
  }


/* Contact Page
------------------------------------------------------------*/

#contact_links li a {
  padding: 10px 4px;
  }

#contact_form {
  float: left;
  }

#contact_form ul {
  margin-bottom: 25px;
  }

#contact_form li {
  padding: 0;
  }

#contact_form input,
#contact_form textarea {
  width: 95%;
  margin: 0 auto;
  }

#captcha_img input {
  float: left;
  width: 45%;
  padding: 17px 8px;
  margin-right: 0;
  }

#contact_page #contact_button {
  width: 100%;
  clear: both;
  }


/* Cart Page
------------------------------------------------------------*/

#cart_page #site_footer footer {
  margin-top: 30px;
  }

#cart_page #content {
  padding-bottom: 0px;
  }

#cart-form {
  padding: 0;
  }

#cart-form.no_options {
  margin-bottom: 0;
  }

#cart_description {
  width: auto;
  float: none;
  }

#cart_items {
  float: left;
  width: 100%;
  margin: 0;
  border-bottom: 1px solid #e5e5e5;
  }

#cart_items li {
  float: none;
  }

#cart_items li dl {
  float:left;
  margin-top: 21px;
  width: 56%;
  }
  
#cart_items li dt {
  width: 73%;	
  }

#cart_items .item_image {
  float: left;
  margin: 20px 7px 20px 8px;
  }

#cart_items li .item_quantity {
  display: none;
  }

#cart_items li .quantity_input {
  display: inline-block;
  left:72%;
  }

#cart_items li .remove_item {
  opacity: 1;
  left: 88%;
  }

#cart_options {
  float: none;
  clear: both;
  width: 90%;
  padding: 15px 0 2px;
  margin: 0 auto;
  border-bottom: none;
  }

#cart_options li {
  margin-bottom: 10px;
  }

#cart_options label {
  float: none;
  margin: 0;
  text-align: left;
  }

#cart_options select {
  margin-top: 3px;
  width: 100%;
  }

#cart_options input {
  width: 94%;
  }

#cart_options .no_shipping {
  margin-top: 0;
  margin-left: 0;
  }

#cart_options #cart_discount p {
  padding: 3px 0 0;
  }

.solo_update {
  display: none;
  }

.cart-update {
  margin-left: 0;
  }

.cart-update .button {
  width: 100%;
  }

#cart_summary {
  float: none;
  clear: both;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 20px;
  padding-top: 10px;
  border-top: none;
  }

#cart_summary ul {
  padding: 0;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  }

#cart_summary button {
  float: none;
  width: 90%;
  margin: 0 auto 10px;
  }
  
a.continue_shopping { 
  font-size: 14px;
  margin: 30px auto 10px;
  }
}


@media screen and (min-width: 569px) and (max-width: 800px) {

#site_header header #store_name {
  word-wrap: break-word
}

.button {
  display: block;
  width: 100%;
  padding: 17px 0 !important;
  }

#error {
  width: 90%;
  margin: 0 auto;
  margin-top: -5px;
  margin-bottom: 30px;
  }


/* Structure
------------------------------------------------------------*/

.strip {
  overflow: hidden;
  background: transparent;
  }

.canvas {
  position: relative;
	width: 640px !important;
  margin: 0 auto;
  clear: both;
  }

.standalone .canvas {
  width: 95%;
  }

#content {
  margin-top: 0;
  padding: 40px 0;
  }

#page_body {
	width: 640px;
  margin: 0 auto;
  }

.custom #page_body,
#contact_page #page_body {
	width: 550px;
	}

#site_header {
	margin: 0 auto;
	}

#site_footer footer {
  min-width: 0;
	float: none;
	}


/* Main Nav
------------------------------------------------------------*/

#main_nav {
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  }


/* Home Page
------------------------------------------------------------*/

#home_page #site_footer footer {
	margin-top: 0;
	}

/* Products Page
------------------------------------------------------------*/

#products {
  float: none;
  overflow: hidden;
  clear: both;
  width: 640px;
  margin: 0 auto 30px ;
  margin-left: -5px;
  }

.category_nav:first-child {
  margin-top: 10px;
  }

.category_nav.double nav.categories,
.category_nav.double nav.artists {
  width: 100%;
  display: inline-block;
  }

.category_nav.double nav.categories,
.category_nav.double nav.artists {
  text-align: center;
  margin: 0;
  }

.category_nav li a {
  padding: 10px 4px;
  }

#products_page #pagination {
  margin-top: 0;
  margin-bottom: 50px;
  }

#pagination span,
#pagination a {
  padding: 8px 10px;
  border: none;
  }


/* Product Page
------------------------------------------------------------*/

#product_page #content .product_header {
  float: none;
  width: 100%;
  margin-top: 0;
  margin-bottom: 25px;
  }

#product_images {
  float: none;
  width: 92%;
  margin: 0 auto;
  }

#product_images li img {
  min-width: 100%;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  }

#product_images li {
  margin-bottom: 5px;
  }

#product_images .flex-control-nav {
  bottom: -25px !important;
  }

#product_info {
  float: none;
  clear: none;
  width: 70%;
  margin: 40px auto;
  }

#product_inventory {
  margin: 35px 0 0 0;
  padding: 15px 15px 2px;
  }

#product_inventory h3 {
  margin-bottom: 10px;
  font-size: 11px;
  text-align: left;
  }

#product_inventory li {
  width: 100%;
  }

#product_inventory li h5 {
  font-size: 13px;
  }

#product_form {
  margin-top: 30px;
  }

#product_form select {
  width: 100%;
  }

.button {
  padding: 17px 0 !important;
  width: 100%;
  }

#social_links {
  margin-top: 30px;
  }

#social_links li {
	height: 50px;
	}

#social_links li h4 {
  display: none;
  }

#social_links .social_action {
  opacity: 1;
  top: 16px;
  visibility: visible;
  }


#more_products {
  padding-bottom: 0;
  }

#more_products.no_products {
  margin-top: 0;
  padding: 0 0 20px;
  }

#more_products.no_products nav {
  padding-top: 20px;
  }

#more_products h3:first-child {
  text-align: center;
  }

#more_products ul#products {
  overflow: hidden;
  margin-top: 30px;
  }

#more_products ul#products li:nth-child(3) {
  display: none;
  }

#more_products nav {
  clear: both;
  position: relative;
  top: 0;
  right: 0;
  text-align: center;
  margin: 0 auto;
  border-top: 1px solid #E5E5E5;
  padding: 15px 0 5px;
  }

#more_products nav li a {
  padding: 10px 4px;
  }


/* Contact Page
------------------------------------------------------------*/

#contact_page #page_body {
  margin-bottom: 40px;
  }

#contact_links li a {
  padding: 10px 4px;
  }

#contact_form input,
#contact_form textarea {
  width: 96%;
  margin: 0 auto;
  }

#captcha_img input {
  float: left;
  width: 70%;
  padding: 17px 8px;
  margin-right: 0;
  }

#contact_page #contact_button {
  width: 100%;
  clear: both;
  }


/* Cart Page
------------------------------------------------------------*/

#cart_page #site_footer {
  border-top: 1px solid #e5e5e5;
  }

#cart_page #site_footer footer {
  margin-top: 30px;
  }

#cart-form {
  padding: 0;
  }

#cart_description {
  width: auto;
  float: none;
  }

#cart_items {
  float: none;
  width: 70%;
  margin: 0 auto;
  }

#cart_items li {
  float: none;
  }
  
#cart_items li dl {
	float:left;
    width:58%;
  }

#cart_items .item_image {
  float: left;
  margin: 20px 10px 20px 10px;
  }

#cart_items li .item_quantity {
  display: none;
  }

#cart_items li .quantity_input {
  display: inline-block;
  left: 75%;
  }

#cart_items li .remove_item {
  opacity: 1;
  filter: alpha(opacity=1); /* IE6-IE8 */
  left: 92%;
  }

#cart_options {
  float: none;
  clear: both;
  width: 70%;
  margin: 0 auto 0;
  padding: 30px 0 10px;
  border: none;
  }

#cart_options label {
  float: none;
  margin: 0;
  text-align: left;
  }

#cart_options select {
  margin-top: 3px;
  width: 100%;
  }

#cart_options input {
  width: 96%;
  }

#cart_options .no_shipping {
  margin-top: 0;
  margin-left: 0;
  }

#cart_options #cart_discount p {
  padding: 3px 0 0;
  }

.solo_update {
  display: none;
  }

.cart-update {
  margin-left: 0;
  }

.cart-update .button {
  width: 100%;
  }

#cart_summary {
  box-sizing: border-box;
  float: none;
  width: 70%;
  margin: 0 auto;
  padding: 15px;
  border: none;
  }

#cart_summary ul {
  padding: 0;
  border-top: 0;
  }

#cart_summary button {
  width: 100%;
  margin: 0 auto 10px;
  }
a.continue_shopping { 
  font-size: 13px;
  margin: 20px auto 10px;
  }
}


@media only screen and (min-device-width : 800px) and (max-device-width : 1280px) and (orientation : landscape) {
  #social_links li h4 {
    display: none;
    }

  #social_links .social_action {
    display: block;
    opacity: 1;
    visibility: visible;
    }
}
