.flexslider { 
	margin:0 auto 80px;
}
.flexslider .slides img {
    margin: 0 auto;
    width: 100%;
}
.flex-direction-nav li a { 
	background-image: url({{ 'slideshow_arrows.png' | theme_image_url }});
	background-repeat: no-repeat;
	background-color:rgba(0,0,0,.7);
	background-size:65px auto;
	border:none;
	height: 66px;
	margin: -33px 0 0;
	position: absolute;
	text-indent: 9999px;
	width: 33px;
	-webkit-transition: all .1s ease-in;
	-moz-transition: all .1s ease-in;
	-ms-transition: all .1s ease-in;
	-o-transition: all .1s ease-in;
	transition: all .1s ease-in;
}
.flex-direction-nav li a:hover { 
	background-color:rgba(0,0,0,1);
}
.flex-direction-nav .flex-prev {
    background-position: 6px 15px;
    border-radius: 3px;
    left: 18px;
}
.flex-direction-nav .flex-next {
    background-position:-38px 15px;
    border-radius:3px;
    right:18px;
}
.flex-control-paging li { 
	border-radius:50%;
	height:11px;
	margin:6px;
	width:11px;
	-webkit-backface-visibility: hidden;
}
.flex-control-paging li a {
  background: {{ theme.text }};
  border-radius:50%;
  border:none;
  opacity:0.5;
  filter:alpha(opacity=50);
}
.flex-control-paging li a:hover {
  background: {{ theme.text }};
  opacity:0.7;
  filter:alpha(opacity=70);
}
.flex-control-paging li a.flex-active {
  background: {{ theme.text }};
  opacity:0.3;
  filter:alpha(opacity=30);
}
@media screen and (max-width: 768px) {
  .flex-direction-nav .flex-prev { display:none;}
  .flex-direction-nav .flex-next { display:none;}
  .flexslider .slides img { border-radius:0;}
  .flexslider { margin-bottom:50px }
  .flexslider .flex-control-nav { bottom:-35px }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
	.flex-direction-nav .flex-prev { display:none;}
	.flex-direction-nav .flex-next { display:none;}
 }
.custom #page_body .flexslider ul {
    list-style: none;
}
#page_body .flex-direction-nav a { 
	display:none;
}
#about_page #page_body .flexslider img { 
	box-shadow:none;
	margin-bottom:0;
}