/*============================================================
  Standalone Pages (Maintenance / Checkout)
============================================================*/ 

.standalone .canvas {
  width: 45%;
  max-width: 450px;
  padding: 33px 30px 15px;
  margin: 20% auto 0;
  text-align: center;
  border: 3px solid {{ theme.header_text }};
  }
  
#checkout_page .canvas {
  padding: 25px 30px 20px;
  }  

.standalone .canvas h1 {
  font-size: 18px;
  font-weight: normal;
  line-height: 1.3em;
  }

.standalone .canvas p {
  margin-top: 10px;
  font-style: italic;
  } 
  