/*============================================================
  Success Page
============================================================*/ 

#success_page #content .canvas {
  text-align: center;
  }

#success_page #content .canvas h1 {
  font-size: 22px;
  line-height: 1.3em;
  }

#success_page #content .canvas p {
  width: 400px;
  margin: 15px auto 1.5em;
  font-style: italic;
  }

#success_page #content .canvas a {
  font-size: 15px;
  }
