{% if categories.active != blank or artists.active != blank %}
  <div class="artist-category-nav artist-category-nav-header">
    <nav aria-label="Category navigation" class="category-nav products-nav">
      <div class="nav-title">
        {% if page.full_url contains "search=" %}
          Search Results
        {% else %}
          {{ page.name }}
        {% endif %}
      </div>
      {% unless page.full_url contains 'search=' %}
      <ul>
        <li class="{% if page.full_url contains '/products' %}selected{% endif %}"><a href="/products">All</a></li>
        {% for category in categories.active %}
          <li class="{% if page.full_url contains category.url %}selected{% endif %}">{{ category | link_to }}</li>
        {% endfor %}
      </ul>
      {% endunless %}
    </nav>
    {% if artists.active != blank %}
    <nav class="products-nav artist-nav" aria-label="Artist navigation">
      {% unless page.full_url contains 'search=' %}
        <div class="nav-title">Artists</div>
          <ul>
            {% for artist in artists.active %}
              <li class="{% if page.full_url contains artist.url %}selected{% endif %}">{{ artist | link_to }}</li>
            {% endfor %}
          </ul>
        </div>
      {% endunless %}  
    </nav>
    {% endif %}
  </div>
{% endif %}
<h1 class="page-title visually-hidden">{{ page.name }}</h1>
{% paginate products from products.current by theme.products_per_page %}
  {% if products != blank %}
    <div class="product-list-container">
      <div class="product-list {% if products.size < 4 %}product-list--center{% endif %}" data-max-products-desktop="{{ theme.max_products_per_row }}" data-max-products-mobile="{{ theme.max_products_per_row_mobile }}">
        {% for product in products %}
          {% assign image_width = product.image.width | times: 1.0 %}
          {% assign image_height = product.image.height | times: 1.0 %}
          {% assign aspect_ratio = image_width | divided_by: image_height %}
          {% assign product_status = '' %}
          {% case product.status %}
            {% when 'active' %}
              {% if product.on_sale %}{% assign product_status = 'On sale' %}{% endif %}
            {% when 'sold-out' %}
              {% assign product_status = 'Sold out' %}
            {% when 'coming-soon' %}
              {% assign product_status = 'Coming soon' %}
          {% endcase %}
          <div class="product-list-thumb {{ product.css_class }}">
            <a class="product-list-link product-list-link--{{ theme.show_overlay }}" href="{{ product.url }}" title="View {{ product.name | escape }}">
              <div class="product-list-image-container product-list-image-container-{{ theme.grid_image_style }}">
                <img
                  alt=""
                  class="blur-up product-list-image lazyload grid-{{ theme.grid_image_style }}"
                  src="{{ product.image | product_image_url | constrain: 20 }}"
                  {% unless theme.grid_image_style == 'default' %}data-aspectratio="{{ aspect_ratio }}"{% endunless %}
                  data-srcset="
                    {{ product.image | product_image_url | constrain: 240 }} 240w,
                    {{ product.image | product_image_url | constrain: 320 }} 320w,
                    {{ product.image | product_image_url | constrain: 400 }} 400w,
                    {{ product.image | product_image_url | constrain: 540 }} 540w,
                    {{ product.image | product_image_url | constrain: 600 }} 600w,
                    {{ product.image | product_image_url | constrain: 800 }} 800w,
                    {{ product.image | product_image_url | constrain: 960 }} 960w
                  "
                  data-sizes="auto"
                >
              </div>
              <div class="product-list-thumb-info">
                <div class="product-list-thumb-name">{{ product.name }}</div>
                <div class="product-list-thumb-price">
                  {% if product.variable_pricing %}
                    {{ product.min_price | money: theme.money_format }} - {{ product.max_price | money: theme.money_format }}
                  {% else %}
                    {{ product.default_price | money: theme.money_format }}
                  {% endif %}
                </div>
                {% if product_status != blank %}<div class="product-list-thumb-status">{{ product_status }}</div>{% endif %}
              </div>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
    {% if paginate.pages > 1 %}
      <nav role="navigation" aria-label="Pagination">
        {{ paginate | default_pagination }}
      </nav>
    {% endif %}
  {% else %}
    <div class="empty-products centered-message">No products found.</div>
  {% endif %}
{% endpaginate %}
