{% comment %}
  Use page name from Custo if it's been customized, otherwise use the localized default.
{% endcomment %}
{% assign page_title = t['navigation.products'] %}
{% if page.full_url contains "search=" %}
  {% assign page_title = t['products.search_results'] %}
{% elsif page.name != 'Products' %}
  {% assign page_title = page.name %}
{% endif %}

{% if categories.active != blank or artists.active != blank %}
  <div class="artist-category-nav artist-category-nav-header">
    <nav aria-label="Category navigation" class="category-nav products-nav">
      <h1 class="nav-title">{{ page_title }}</h1>
      {% unless page.full_url contains 'search=' %}
      <ul>
        <li class="{% if page.full_url contains '/products' %}selected{% endif %}"><a href="/products">{{ t['navigation.all'] }}</a></li>
        {% for category in categories.active %}
          <li class="{% if page.full_url contains category.url %}selected{% endif %}">{{ category | link_to }}</li>
        {% endfor %}
      </ul>
      {% endunless %}
    </nav>
    {% if artists.active != blank %}
      {% unless page.full_url contains 'search=' %}
        <nav class="products-nav artist-nav" aria-label="Artist navigation">
          <div class="nav-title">{{ page_title }}</div>
          <ul>
            {% for artist in artists.active %}
              <li class="{% if page.full_url contains artist.url %}selected{% endif %}">{{ artist | link_to }}</li>
            {% endfor %}
          </ul>
        </nav>
      {% endunless %}  
    {% endif %}
  </div>
{% endif %}
{% paginate products from products.current by theme.products_per_page %}
  {% if products != blank %}
    <div class="product-list-container">
      <div class="product-list {% if products.size < 4 %}product-list--center{% endif %}" data-max-products-desktop="{{ theme.max_products_per_row }}" data-max-products-mobile="{{ theme.max_products_per_row_mobile }}">
        {% for product in products %}
          {% assign image_width = product.image.width | times: 1.0 %}
          {% assign image_height = product.image.height | times: 1.0 %}
          {% assign aspect_ratio = image_width | divided_by: image_height %}
          {% assign product_status = '' %}
          {% case product.status %}
            {% when 'active' %}
              {% if product.on_sale %}
                {% assign product_status = t['products.on_sale'] %}
              {% endif %}
            {% when 'sold-out' %}
              {% assign product_status = t['products.sold_out'] %}
            {% when 'coming-soon' %}
              {% assign product_status = t['products.coming_soon'] %}
          {% endcase %}
          {% capture status_class %}{% if product.status == 'active' and product.on_sale %}status-primary{% else %}status-secondary{% endif %}{% endcapture %}
          <div class="product-list-thumb {{ product.css_class }}">
            <a class="product-list-link product-list-link--{{ theme.show_overlay }}" href="{{ product.url }}" title="{{ t['navigation.view'] }} {{ product.name | escape }}">
              <div class="product-list-image-container product-list-image-container-{{ theme.grid_image_style }}">
                <img
                  alt=""
                  class="blur-up product-list-image lazyload grid-{{ theme.grid_image_style }}"
                  src="{{ product.image | product_image_url | constrain: 20 }}"
                  {% unless theme.grid_image_style == 'default' %}data-aspectratio="{{ aspect_ratio }}"{% endunless %}
                  data-srcset="
                    {{ product.image | product_image_url | constrain: 240 }} 240w,
                    {{ product.image | product_image_url | constrain: 320 }} 320w,
                    {{ product.image | product_image_url | constrain: 400 }} 400w,
                    {{ product.image | product_image_url | constrain: 540 }} 540w,
                    {{ product.image | product_image_url | constrain: 600 }} 600w,
                    {{ product.image | product_image_url | constrain: 800 }} 800w,
                    {{ product.image | product_image_url | constrain: 960 }} 960w
                  "
                  data-sizes="auto"
                >
              </div>
              <div class="product-list-thumb-info">
                <div class="product-list-thumb-name">{{ product.name }}</div>
                <div class="product-list-thumb-price">
                  {% assign hide_price = false %}
                  {% if product.status == 'sold-out' and theme.show_sold_out_product_prices == false %}
                    {% assign hide_price = true %}
                  {% endif -%}
                  {% if product.status == 'coming-soon' and theme.show_coming_soon_product_prices == false %}
                    {% assign hide_price = true %}
                  {% endif %}
                  {% if product.has_password_protection and theme.show_password_protected_product_prices == false %}
                    {% assign hide_price = true %}
                  {% endif %}

                  {% unless hide_price %}
                    {{ product | product_price: theme.money_format, theme.product_variable_pricing_display_format }}

                    {% if product.price_suffix != blank %}
                      {% assign variable_price_shown = true %}
                      {% if theme.product_variable_pricing_display_format == "min_only" or theme.product_variable_pricing_display_format == "max_only" %}
                        {% assign variable_price_shown = false %}
                      {% endif %}

                      {% if product.variable_pricing and variable_price_shown %}
                        {% assign formatted_suffix = '(' | append: product.price_suffix | append: ')' %}
                      {% else %}
                        {% assign formatted_suffix = product.price_suffix %}
                      {% endif %}
                      <span class="price-suffix">{{ formatted_suffix }}</span>
                    {% endif %}
                  {% endunless %}
                </div>
                {% unless hide_price %}
                  {% if product.options.size > 1 and theme.show_product_variant_count_in_grid %}
                    <div class="product-list-thumb-options-description">
                      {{ product.options.size }} {{ t['products.variants'] }}
                    </div>
                  {% endif %}
                {% endunless %}
                {% if product_status != blank %}<div class="product-list-thumb-status {{status_class}}">{{ product_status }}</div>{% endif %}
              </div>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
    {% if paginate.pages > 1 %}
      <nav role="navigation" aria-label="Pagination">
        {{ paginate | default_pagination }}
      </nav>
    {% endif %}
  {% else %}
    <div class="empty-products centered-message">{{ t['products.no_products'] }}</div>
  {% endif %}
{% endpaginate %}
