{% comment %}
  Use page name from Custo if it's been customized, otherwise use the localized default.
{% endcomment %}
{% assign page_title = t['navigation.products'] %}
{% if page.full_url contains "search=" %}
  {% assign page_title = t['products.search_results'] %}
{% elsif page.name != 'Products' %}
  {% assign page_title = page.name %}
{% endif %}

{% assign product_status = '' %}
{% case product.status %}
	{% when 'active' %}
		{% if product.on_sale %}
      {% assign product_status = t['products.on_sale'] %}
    {% endif %}
	{% when 'sold-out' %}
		{% assign product_status = t['products.sold_out'] %}
	{% when 'coming-soon' %}
		{% assign product_status = t['products.coming_soon'] %}
{% endcase %}
{% capture status_class %}{% if product.status == 'active' and product.on_sale %}status-primary{% else %}status-secondary{% endif %}{% endcapture %}
<div class="product-page {{ theme.product_page_layout }}" data-bc-hook="product-container">
  <div class="product-page-headings">
    {% if product_status != blank %}<div class="product-status {{ status_class }}">{{ product_status }}</div>{% endif %}
    <h1 class="product-title has-dash">{{ product.name }}</h1>
    <div class="product-price">
      {% assign hide_price = false %}
      {% if product.status == 'sold-out' and theme.show_sold_out_product_prices == false %}
        {% assign hide_price = true %}
      {% endif -%}
      {% if product.status == 'coming-soon' and theme.show_coming_soon_product_prices == false %}
        {% assign hide_price = true %}
      {% endif %}

      {% unless hide_price %}
        {{ product | product_price: theme.money_format }}
      {% endunless %}

      {% if product.price_suffix != blank %}
        {% assign variable_price_shown = true %}
        {% if theme.product_variable_pricing_display_format == "min_only" or theme.product_variable_pricing_display_format == "max_only" %}
          {% assign variable_price_shown = false %}
        {% endif %}

        {% if product.variable_pricing and variable_price_shown %}
          {% assign formatted_suffix = '(' | append: product.price_suffix | append: ')' %}
        {% else %}
          {% assign formatted_suffix = product.price_suffix %}
        {% endif %}
        <span class="price-suffix">{{ formatted_suffix }}</span>
      {% endif %}
    </div>
  </div>
  <div class="product-details">
    {% if product.status == 'active' %}
      <form method="post" class="product-form {% if theme.show_sold_out_product_options %}show-sold-out{% else %}hide-sold-out{% endif %}" action="/cart" accept-charset="utf8">
        <input type="hidden" name="utf8" value='✓'>
        {% if product.has_default_option %}
          {{ product.option | hidden_option_input }}
        {% else %}
          {% if product.has_option_groups %}
            <div class="product_option_groups">
              <input id="option" name="cart[add][id]" type="hidden" value="0">
              {% for option_group in product.option_groups %}
                <div class="select">
                  <select data-unavailable-text="(Unavailable)" data-sold-text="({{ t['products.sold_out'] }})" data-group-id="{{ option_group.id }}" data-group-name="{{ option_group.name | escape }}" class="product_option_group" name="option_group[{{ option_group.id }}]" aria-label="Select {{ option_group.name | escape }}" required>
                    <option value="" disabled="disabled" selected>{{ option_group.name }}</option>
                    {% for value in option_group.values %}
                      <option value="{{ value.id }}" data-name="{{ value.name | escape }}">{{ value.name }}</option>
                    {% endfor %}
                  </select>
                  <svg viewBox="0 0 15 7.6" enable-background="new 0 0 15 7.6"><path d="M15 1.1l-7.5 6.5-7.5-6.3 1-1.2 6.5 5.5 6.5-5.6z"/></svg>
                </div>
              {% endfor %}
            </div>
          {% else %}
            <div class="select">
              <select class="product-option-select" id="option" name="cart[add][id]" aria-label="{{ t['products.select_variant'] }}" required>
                <option value="" disabled="disabled" selected>{{ t['products.select_variant'] }}</option>
                {% for option in product.options %}
                  <option value="{{ option.id }}" data-price="{{ option.price }}"{% if option.sold_out %} disabled="disabled" disabled-type="sold-out"{% endif %}>{{ option.name }} {% if option.sold_out %} ({{ t['products.sold_out'] }}){% endif %}</option>
                {% endfor %}
              </select>
              <svg viewBox="0 0 15 7.6" enable-background="new 0 0 15 7.6"><path d="M15 1.1l-7.5 6.5-7.5-6.3 1-1.2 6.5 5.5 6.5-5.6z"/></svg>
            </div>
          {% endif %}
        {% endif %}
        <button class="button add-to-cart-button" name="submit" type="submit" data-add-title="{{ t['products.add_to_cart'] }}" data-sold-title="{{ t['products.sold_out'] }}">{{ t['products.add_to_cart'] }}</button>
        {{ store | instant_checkout_button: 'dark', '44px' }}
        <div class="inventory-status-message" data-inventory-message></div>
        {% if product.has_option_groups %}
          <div class="reset-selection-button-container">
            <button class="button minimal-button reset-selection-button" title="{{ t['products.reset'] }}" type="reset">{{ t['products.reset'] }}</button>
          </div>
        {% endif %}
      </form>
    {% endif %}

    {% if product.status == "active" and theme.show_bnpl_messaging %}
      <div id="payment-processor-messaging">
        <div id="paypal-messaging-container" style="height: 0; overflow: hidden;">
          <div id="paypal-messaging-element"></div>
        </div>
        <div id="stripe-messaging-container" style="height: 0; overflow: hidden;">
          <div id="payment-method-messaging-element"></div>
        </div>
      </div>
    {% endif %}

    {% if product.description != blank %}
      <div class="product-description">
        {{ product.description | paragraphs }}
      </div>
    {% endif %}

    {% if product.status == 'active' %}
      {% if theme.show_inventory_bars %}
        <div class="product-inventory">
        	<h2 class="product-inventory-header">{{ t['products.inventory'] }}</h2>
        	<ul class="inventory-bars">
            {% for option in product.options %}
        		<li>
        		  {% unless product.has_default_option %}<div class="option-name">{{ option.name }}</div>{% endunless %}
        			<div class="inventory-bar">
        			  <span class="inventory-percentage" style="width:{{ option.inventory }}%;"></span>
                <span class="inventory-label">{{ option.quantity }} {{ t['products.in_stock'] }}</span>
        			</div>
        		</li>
        		{% endfor %}
        	</ul>
        </div>
      {% endif %}
    {% endif %}
  </div>
  <div class="product-images desktop-{{ theme.desktop_product_page_images }} mobile-{{ theme.mobile_product_page_images }}" data-total-images="{{ product.images.size }}">
    {% if product.images.size > 1 %}
      <div class="splide product-carousel" role="group" aria-label="{{ product.name | escape }} images">
        <div class="splide__track">
          <div class="splide__list">
            {% for image in product.images %}
              {% assign image_width = image.width | times: 1.0 %}
              {% assign image_height = image.height | times: 1.0 %}
              {% assign aspect_ratio = image_width | divided_by: image_height %}
              <div class="splide__slide">
                {% if theme.product_image_zoom %}
                  <a aria-label="Open image {{ forloop.index }} in image viewer" class="zoom-image-container gallery-link" href="{{ image | product_image_url | constrain: 2000 }}" data-pswp-width="{{ image_width | times: 2 }}" data-pswp-height="{{ image_height | times: 2 }}" >
                {% else %}
                  <div class="zoom-image-container">
                {% endif %}
                  <img
                    alt="Image {{ forloop.index }} of {{ product.name | escape }}"
                    class="product-image lazyload"
                    {% if forloop.index == 1 %}fetchpriority="high"{% else %}loading="lazy"{% endif %}
                    src="{{ image | product_image_url | constrain: 200 }}"
                    data-srcset="
                      {{ image | product_image_url | constrain: 400 }} 400w,
                      {{ image | product_image_url | constrain: 700 }} 700w,
                      {{ image | product_image_url | constrain: 1000 }} 1000w,
                      {{ image | product_image_url | constrain: 1400 }} 1400w,
                      {{ image | product_image_url | constrain: 2000 }} 2000w,
                    "
                    width="{{ image.height | times: aspect_ratio }}"
                    height="{{ image.height }}"
                    data-sizes="auto"
                  >
                {% if theme.product_image_zoom %}</a>{% else %}</div>{% endif %}
              </div>
            {% endfor %}
          </div>
        </div>
        {% if product.images.size > 5 %}
          <div class="overlay-image-counter">
            <span class="current-slide-number">1</span>&nbsp;/&nbsp;{{ product.images.size }}
          </div>
        {% endif %}
      </div>
      <div class="product-thumbnails-buttons-container">
        <button aria-label="Slide left" aria-controls="carousel-thumbnail" class="thumb-scroller thumb-scroller--left" disabled data-direction="left">
          <svg aria-hidden="true" viewBox="0 0 15 7.6" enable-background="new 0 0 15 7.6"><path d="M15 1.1l-7.5 6.5-7.5-6.3 1-1.2 6.5 5.5 6.5-5.6z"/></svg>
        </button>
        <ul class="product-thumbnails--list{% if product.images.size == 5 %} mobile-overflow{% endif %}{% if product.images.size > 5 %} is-overflow{% endif %}" id="carousel-thumbnail">
          {% for image in product.images %}
            <li class="product-thumbnails--item">
              <button class="product-thumbnails--change-slide" type="button" tabindex="0" aria-label="View image {{ forloop.index }} of {{ product.images.size }}">
                <img
                  alt=""
                  class="lazyload"
                  src="{{ image | product_image_url | constrain: 150 }}"
                  data-srcset="
                    {{ image | product_image_url | constrain: 250 }} 250w,
                    {{ image | product_image_url | constrain: 300 }} 300w
                  "
                  data-sizes="auto"
                >
              </button>
            </li>
          {% endfor %}
        </ul>
        <button aria-label="Slide right" aria-controls="carousel-thumbnail" class="thumb-scroller thumb-scroller--right" data-direction="right">
          <svg aria-hidden="true" viewBox="0 0 15 7.6" enable-background="new 0 0 15 7.6"><path d="M15 1.1l-7.5 6.5-7.5-6.3 1-1.2 6.5 5.5 6.5-5.6z"/></svg>
        </button>
      </div>
      <div class="mobile-buttons-indicator">
        <button aria-label="View previous image" class="change-slide change-slide--left previous-slide">
          <svg fill="currentColor" aria-hidden="true" viewBox="0 0 15 7.6" enable-background="new 0 0 15 7.6"><path d="M15 1.1l-7.5 6.5-7.5-6.3 1-1.2 6.5 5.5 6.5-5.6z"/></svg>
        </button>
        <div><span class="current-slide-number">1</span> of {{ product.images.size }}</div>
        <button aria-label="View next image" class="change-slide change-slide--right next-slide">
          <svg fill="currentColor" aria-hidden="true" viewBox="0 0 15 7.6" enable-background="new 0 0 15 7.6"><path d="M15 1.1l-7.5 6.5-7.5-6.3 1-1.2 6.5 5.5 6.5-5.6z"/></svg>
        </button>
      </div>
    {% else %}
      {% assign image_width = product.image.width | times: 1.0 %}
      {% assign image_height = product.image.height | times: 1.0 %}
      {% if theme.product_image_zoom %}
        <a aria-label="Open image of {{ product.name | escape }} in image viewer" class="zoom-image-container gallery-link" href="{{ product.image | product_image_url | constrain: 2000 }}" data-pswp-width="{{ image_width | times: 2 }}" data-pswp-height="{{ image_height | times: 2 }}" >
      {% else %}
        <div class="zoom-image-container">
      {% endif %}
        <img
          alt="{{ product.name | escape }}"
          class="blur-up product-image lazyload"
          fetchpriority="high"
          src="{{ product.image | product_image_url | constrain: 200 }}"
          data-srcset="
            {{ product.image | product_image_url | constrain: 400 }} 400w,
            {{ product.image | product_image_url | constrain: 700 }} 700w,
            {{ product.image | product_image_url | constrain: 1000 }} 1000w,
            {{ product.image | product_image_url | constrain: 1400 }} 1400w,
            {{ product.image | product_image_url | constrain: 2000 }} 2000w,
          "
          data-sizes="auto"
        >
      {% if theme.product_image_zoom %}</a>{% else %}</div>{% endif %}
    {% endif %}
  </div>
</div>
